.sidebarRegionScroller-FXiQOh {
    transition: background-color .4s ease;
}
.sidebarRegion-1VBisG:has([class^="bd"].selected-1sf9UK) {
    flex: unset;
}

@keyframes bdSidebarWipe {
    0%, 50% {
        transform: translateX(-100%);
    }
    to {
        transform: none;
    }
}
@keyframes bdCloseWipe {
    0%, 50% {
        margin-left: -300px;
    }
    to {
        margin-left: none;
    }
}

.sidebar-nqHbhN:not(:has([class^="bd"].selected-1sf9UK)) :is([class^="bd"].item-2GWPIy:not(.bd-settings-tab), .bd-changelog-button)  {
    display: none;
}
.sidebar-nqHbhN:not(:has([class^="bd"].selected-1sf9UK)) .bd-settings-tab {
    display: flex;
    justify-content: space-between;
    font-size: 0;
    line-height: 0;
}
.sidebar-nqHbhN:not(:has([class^="bd"].selected-1sf9UK)) .bd-settings-tab:before {
    content: "BetterDiscord";
    font-size: 16px;
    line-height: 20px;
}
.sidebar-nqHbhN:not(:has([class^="bd"].selected-1sf9UK)) .bd-settings-tab:after {
    content: "";
    width: 22px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 25.8612 24' enable-background='new 0 0 2000 2000' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%233ECC9C' d='M18.5136 6.8844c-.1344-4.9056-3.972-6.8844-8.9196-6.8844L0 0v9.912l6.1344 5.5248V4.9272h3.5676c3.81 0 3.81 4.7868 0 4.7868H7.3452v4.5732h2.3568c3.81 0 3.81 4.7856 0 4.7856h-9.702L0 24h9.594c4.9452 0 8.7828-1.9788 8.9196-6.8844 0-2.2572-.618-3.9432-1.7064-5.1156C17.8956 10.8276 18.5136 9.1416 18.5136 6.8844Z'/%3E%3Cpath fill='%23ffffff' d='M16.5744-.0072 16.5744-.0072l-1.0656 0c.3696.1848.7176.39 1.0416.6144.9816.6816 1.7508 1.548 2.2848 2.5716.5544 1.0632.8532 2.298.8928 3.6732l0 .0168v.0168c0 1.9584 0 8.274 0 10.2312v.0168l0 .0168c-.0372 1.374-.3372 2.61-.8928 3.6732-.534 1.0248-1.302 1.89-2.2848 2.5716-.3132.2184-.6504.4176-1.008.5988h1.0068C21.3528 24.0192 25.8612 21.6168 25.8612 16.11V8.064C25.8876 2.4504 21.3792-.0072 16.5744-.0072z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
}
.theme-light .bd-settings-tab:not(.selected-1sf9UK):after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 25.8612 24' enable-background='new 0 0 2000 2000' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%233ECC9C' d='M18.5136 6.8844c-.1344-4.9056-3.972-6.8844-8.9196-6.8844L0 0v9.912l6.1344 5.5248V4.9272h3.5676c3.81 0 3.81 4.7868 0 4.7868H7.3452v4.5732h2.3568c3.81 0 3.81 4.7856 0 4.7856h-9.702L0 24h9.594c4.9452 0 8.7828-1.9788 8.9196-6.8844 0-2.2572-.618-3.9432-1.7064-5.1156C17.8956 10.8276 18.5136 9.1416 18.5136 6.8844Z'/%3E%3Cpath fill='%23000000' d='M16.5744-.0072 16.5744-.0072l-1.0656 0c.3696.1848.7176.39 1.0416.6144.9816.6816 1.7508 1.548 2.2848 2.5716.5544 1.0632.8532 2.298.8928 3.6732l0 .0168v.0168c0 1.9584 0 8.274 0 10.2312v.0168l0 .0168c-.0372 1.374-.3372 2.61-.8928 3.6732-.534 1.0248-1.302 1.89-2.2848 2.5716-.3132.2184-.6504.4176-1.008.5988h1.0068C21.3528 24.0192 25.8612 21.6168 25.8612 16.11V8.064C25.8876 2.4504 21.3792-.0072 16.5744-.0072z'/%3E%3C/g%3E%3C/svg%3E");
}

.sidebarRegionScroller-FXiQOh:has([class^="bd"].selected-1sf9UK) {
    background-color: var(--background-tertiary);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Calque_1' x='0px' y='0px' viewBox='0 0 1940 640' enable-background='new 0 0 1940 640' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23FFFFFF' d='M156.1,273.9H29v142.7l84.6,76.2V354.2h45.2c28.7,0,42.9,13.8,42.9,36v106c0,22.2-13.4,37.1-42.9,37.1H28.6v80.7h127c68.1,0.4,132-33.7,132-111.7v-114C288.1,308.7,224.2,273.9,156.1,273.9L156.1,273.9z'/%3E%3Cpath fill='%23FFFFFF' d='M821.9,502.3V385.2c0-42.1,75.8-51.7,98.7-9.6l70-28.3c-27.6-60.5-77.7-78.1-119.4-78.1c-68.1,0-135.5,39.4-135.5,115.9v117.1c0,77.3,67.3,115.9,133.9,115.9c42.9,0,94.1-21,122.5-76.2l-75-34.4C898.8,554.8,821.9,543.3,821.9,502.3L821.9,502.3z'/%3E%3Cpath fill='%23FFFFFF' d='M590.4,401.3c-26.4-5.7-44-15.3-45.2-31.8c1.5-39.4,62.4-40.9,98-3.1l56.3-43.2c-35.2-42.9-75-54.3-115.9-54.3c-62.4,0-122.8,35.2-122.8,101.8c0,64.7,49.7,99.5,104.5,107.9c27.9,3.8,58.9,14.9,58.2,34.1c-2.3,36.4-77.3,34.4-111.4-6.9l-54.3,50.9c31.8,40.9,75,61.6,115.6,61.6c62.4,0,131.6-36,134.3-101.8C711.3,433.5,650.9,412.4,590.4,401.3L590.4,401.3z'/%3E%3Crect x='334' y='273.9' fill='%23FFFFFF' width='85.7' height='339.8'/%3E%3Cpath fill='%23FFFFFF' d='M1779.3,273.9h-127v142.7l84.6,76.2V354.2h45.2c28.7,0,42.9,13.8,42.9,36v106c0,22.2-13.4,37.1-42.9,37.1h-130.1v80.7h127.4c68.1,0.4,132-33.7,132-111.7v-114C1911.4,308.7,1847.5,273.9,1779.3,273.9L1779.3,273.9z'/%3E%3Cpath fill='%23FFFFFF' d='M1156,269.3c-70.4,0-140.4,38.3-140.4,116.7V502c0,77.7,70.4,116.7,141.2,116.7c70.4,0,140.4-39,140.4-116.7V386C1297.2,307.9,1226.4,269.3,1156,269.3z M1211.1,502c0,24.5-27.6,37.1-54.7,37.1c-27.6,0-55.1-11.9-55.1-37.1V386c0-24.9,26.8-38.3,53.6-38.3c27.9,0,56.3,11.9,56.3,38.3V502z'/%3E%3Cpath fill='%23FFFFFF' d='M1538.3,497.4c40.9-13,66.6-48.6,66.6-111.4c-1.9-79.6-56.3-111.7-126.3-111.7h-135.8v339.8h86.9V506.2h15.3l78.8,107.9h107.1L1538.3,497.4z M1480.1,431.9h-50.5v-77.7h50.5C1534.1,354.2,1534.1,431.9,1480.1,431.9z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%233ECC9C' d='M103.3,43.3H28.6v77.1l47.7,43V81.7h27.8c29.6,0,29.6,37.2,0,37.2H85.8v35.6h18.3c29.6,0,29.6,37.2,0,37.2H28.6V230h74.6c38.5,0,68.3-15.4,69.4-53.6c0-17.6-4.8-30.7-13.3-39.8c8.5-9.1,13.3-22.2,13.3-39.8C171.6,58.7,141.8,43.3,103.3,43.3z'/%3E%3Cpolygon fill='%233ECC9C' points='358.7,43.3 358.7,81.7 406.8,81.7 406.8,230 454.5,230 454.5,81.7 529.8,81.7 529.8,230 577.6,230 577.6,81.7 625.7,81.7 625.7,43.3 '/%3E%3Cpolygon fill='%233ECC9C' points='197.6,43.3 197.6,230 341.7,230 341.7,191.7 245.4,191.7 245.4,160.5 296.5,160.5 296.5,112.8 245.4,112.8 245.4,81.7 341.7,81.7 341.7,43.3 '/%3E%3Cpolygon fill='%233ECC9C' points='642.4,43.3 642.4,230 786.4,230 786.4,191.7 690.1,191.7 690.1,160.5 741.3,160.5 741.3,112.8 690.1,112.8 690.1,81.7 786.4,81.7 786.4,43.3 '/%3E%3Cpath fill='%233ECC9C' d='M918.6,166c22.5-7.1,36.5-26.6,36.5-61.1c-1-43.6-30.8-61.7-69.2-61.7h-74.5V230H859v-59.2h8.4l43.2,59.2h58.7L918.6,166z M886.7,130.2H859V81.7h27.7C916.3,81.7,916.3,130.2,886.7,130.2z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 180px auto;
    background-position: 20px 28px;
    flex: unset;
    animation: bdSidebarWipe 0.45s ease;
}
.sidebarRegionScroller-FXiQOh:has([class^="bd"].selected-1sf9UK) .sidebar-nqHbhN {
    width: 300px;
    padding-top: 120px;
}
html:has([class^="bd"].selected-1sf9UK) .toolsContainer-25FL6V {
    position: fixed;
    left: 258px;
    margin-top: -30px;
    z-index: 1;
    animation: bdCloseWipe 0.45s ease;
}
html:has([class^="bd"].selected-1sf9UK) .closeButton-PCZcma {
    transform: none !important;
}
html:has([class^="bd"].selected-1sf9UK) .closeButton-PCZcma:after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 1048px;
    width: 100vw;
    cursor: default;
    z-index: -1;
}
.platform-win:has([class^="bd"].selected-1sf9UK) .closeButton-PCZcma:after {
    top: 22px;
}
html:has(.sidebar-nqHbhN:hover [class^="bd"].selected-1sf9UK) .tooltip-33Jwqe,
.sidebarRegionScroller-FXiQOh:has([class^="bd"].selected-1sf9UK) :is(.item-2GWPIy:not([class^="bd"]), .header-2F5_LB, .separator-2N511j, .socialLinks-3ywLUf) {
    display: none;
}
.sidebarRegionScroller-FXiQOh:has([class^="bd"].selected-1sf9UK) .info-3pQQBb {
    position: absolute;
    bottom: 20px;
}
.sidebarRegionScroller-FXiQOh:has([class^="bd"].selected-1sf9UK) .info-3pQQBb:before {
    content: '"JsSUcks" :zere_zoom:';
    color: var(--text-muted);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-transform: none;
}

html:has([class^="bd"].selected-1sf9UK) .layer-86YKbF.baseLayer-W6S8cY {
    transform: none !important;
    opacity: 1 !important;
}
html:has([class^="bd"].selected-1sf9UK) .layer-86YKbF:not(.baseLayer-W6S8cY) {
    background: rgba(0, 0, 0, 0.85);
    transition: background .4s ease;
    z-index: 101;
}
html:has([class^="bd"].selected-1sf9UK) :is(.standardSidebarView-E9Pc3j, .contentRegion-3HkfJJ, .contentRegionScroller-2_GT_N) {
    background: none;
}
html:has([class^="bd"].selected-1sf9UK) .contentRegionScroller-2_GT_N::-webkit-scrollbar {
    display: none;
}
html:has([class^="bd"].selected-1sf9UK) .contentColumnDefault-3eyv5o {
    background: var(--background-primary);
    animation: bdSidebarWipe 0.9s ease;
}
[class^="bd"].selected-1sf9UK {
    color: white !important;
    background-color: #3ECC9C !important;
}

.bd-sidebar-header {
    flex-direction: column;
    align-items: unset;
}
.bd-sidebar-header-label {
    display: none !important;
}
.bd-changelog-button {
    flex: 1;
    padding: 6px 10px;
    margin-bottom: 2px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: var(--interactive-normal);
    cursor: pointer;
}
.bd-changelog-button:hover {
    background-color: var(--background-modifier-hover);
    color: var(--interactive-hover);
}
.bd-changelog-button:before {
    content: attr(aria-label);
}
.bd-changelog-button svg {
    display: none;
}

.bd-filled-checkmark,
.bd-button,
.bd-addon-views .bd-view-button.selected {
    background-color: #3ECC9C;
}
.bd-button:hover {
    background-color: #38B78C;
}
.bd-button:active {
    background-color: #32A37D;
}
.bd-switch input:checked+.bd-switch-body {
    --switch-color: #3ECC9C;
}
.bd-settings-title {
    color: #3ECC9C;
}

/*Updayes Layout*/
.bd-empty-updates svg {
    fill: #3ECC9C;
}

/*Plugin / Theme Layout*/
#themes-tab, #plugins-tab {
    position: relative;
}
:is(#themes-tab, #plugins-tab) .bd-settings-title {
    font-size: 0;
}
:is(#themes-tab, #plugins-tab) .bd-settings-title button {
    margin: 0;
}
.bd-search-wrapper {
    position: absolute;
    top: 60px;
    right: 40px;
    background-color: hsla(0,0%,100%,0.15);
}
.bd-controls-advanced {
    width: 100%;
}
.bd-addon-dropdowns {
    flex: auto;
}
.bd-addon-views .bd-view-button {
    padding: 0 4px 3px 4px;
    color: var(--interactive-normal);
    background: transparent !important;
    border-radius: 0;
    border-bottom: 2px solid transparent;
}
.bd-addon-views .bd-view-button:before {
    content: attr(aria-label);
    padding: 0 4px;
}
.bd-addon-views .bd-view-button:hover {
    color: var(--interactive-hover);
    border-color: var(--interactive-muted);
}
.bd-addon-views .bd-view-button.selected {
    color: #3ECC9C;
    border-color: #3ECC9C;
}
.bd-addon-views .bd-view-button svg {
    fill: currentColor !important;
}
html:has(#plugins-tab, #themes-tab):not(:has(.bd-addon-card:hover)) .tooltip-33Jwqe {
    display: none;
}

.bd-addon-list .bd-addon-card {
    position: relative;
    background: none;
    border-radius: 0;
    border-bottom: thin solid;
    border-image: linear-gradient(90deg, hsla(0,0%,100%,0) 16px, var(--background-modifier-accent) 16px, var(--background-modifier-accent) calc(100% - 16px), hsla(0,0%,100%,0) calc(100% - 16px)) 1;
}
.bd-addon-list .bd-addon-header {
    background: none;
    padding: 0 16px;
}
.bd-addon-card:first-child .bd-addon-header,
.bd-addon-list.bd-grid-view .bd-addon-card:nth-child(2) .bd-addon-header {
    padding-top: 16px;
}
.bd-addon-list .bd-addon-header .bd-icon {
    width: 32px !important;
    height: 32px !important;
    fill: var(--text-normal);
}
.bd-addon-card:has(.banner.banner-danger) .bd-addon-header .bd-icon {
    fill: var(--status-danger);
}
.banner.banner-danger {
    border: 0;
    background: 0;
    padding: 0;
    color: var(--status-danger);
    font-size: 13px;
    font-weight: 700;
}
.banner.banner-danger .bd-icon {
    display: none;
}
.bd-addon-list .bd-name {
    color: var(--text-normal);
    font-size: 16px;
    font-weight: 700;
}
.bd-addon-list .bd-meta {
    position: absolute;
    bottom: 14px;
    left: 16px;
    color: var(--text-muted);
    font-size: 12px;
    font-weight: 700;
}
.bd-addon-card:has(.bd-links > div) .bd-meta {
    bottom: 46px;
}
.bd-addon-list .bd-description {
    color: var(--text-muted);
    font-size: 12px;
    font-weight: 700;
    min-height: 80px;
}
.bd-addon-list .bd-footer {
    padding-top: 20px;
}
