@import url(https://davart154.github.io/Themes/Snippets/Mana%20Composer/ManaComposerSource.css);
@import url(https://davart154.github.io/Themes/Snippets/Mana%20Friend%20List/ManaFriendListSource.css);
@import url(https://davart154.github.io/Themes/Snippets/Mana%20Guild/ManaGuildSource.css);
@import url(https://davart154.github.io/Themes/Snippets/Mana%20Media/ManaMediaSource.css);
@import url(https://davart154.github.io/Themes/Snippets/Mana%20Page%20Switcher/ManaPageSwitcherSource.css);
@import url(https://davart154.github.io/Themes/Snippets/Mana%20Panel/ManaPanelSource.css);
@import url(https://davart154.github.io/Themes/Snippets/Mana%20Profile/ManaProfileSource.css);
@import url(https://davart154.github.io/Themes/Snippets/Mana%20Sidebar%20Notice/ManaSidebarNoticeSource.css);

/* Loading */
.problems_a2f514 {
  background-color: var(--background-surface-high);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-border),var(--shadow-high);
  flex-direction: row;
  gap: var(--space-sm);
  inset-inline: auto;
  justify-content: space-between;
  margin-bottom: var(--space-lg);
  opacity: 0;
  padding: var(--space-sm);
  width: 50vw;
  &.slideIn_a2f514 {
    opacity: 1;
  }
  > div:not([class]) {
    display: flex;
    gap: var(--space-8);
  }
}
.full-motion .problems_a2f514 {
  transition: .2s ease;
}
.problemsText_a2f514 {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: var(--space-xs);
  line-height: 1.2857142857142858;
  margin: 0;
  &:before {
    content: "";
    background-color: currentColor;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M2 3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2C9.92 2 15.97 5.7 19.3 11.22C19.52 11.59 19.15 12.08 18.7 12.12C18.5 12.14 18.3 12.18 18.1 12.24C17.9797 12.2821 17.8488 12.2833 17.7277 12.2435C17.6066 12.2038 17.502 12.1252 17.43 12.02C14.43 7.2 9.1 4 3 4C2.73478 4 2.48043 3.89464 2.29289 3.70711C2.10536 3.51957 2 3.26522 2 3ZM15.48 15.15C15.5216 15.0793 15.5452 14.9995 15.5487 14.9175C15.5522 14.8355 15.5355 14.754 15.5 14.68C14.3308 12.3689 12.5434 10.4274 10.3365 9.07154C8.12973 7.71568 5.59005 6.99858 3 7C2.73478 7 2.48043 7.10536 2.29289 7.29289C2.10536 7.48043 2 7.73478 2 8C2 8.26522 2.10536 8.51957 2.29289 8.70711C2.48043 8.89464 2.73478 9 3 9C5.31454 8.99991 7.57972 9.66917 9.52255 10.9271C11.4654 12.1851 13.003 13.9781 13.95 16.09C14.13 16.48 14.69 16.53 14.91 16.16L15.48 15.15ZM2 13C2 12.7348 2.10536 12.4804 2.29289 12.2929C2.48043 12.1054 2.73478 12 3 12C5.38695 12 7.67613 12.9482 9.36396 14.636C11.0518 16.3239 12 18.6131 12 21C12 21.2652 11.8946 21.5196 11.7071 21.7071C11.5196 21.8946 11.2652 22 11 22C10.7348 22 10.4804 21.8946 10.2929 21.7071C10.1054 21.5196 10 21.2652 10 21C10 19.1435 9.2625 17.363 7.94975 16.0503C6.63699 14.7375 4.85652 14 3 14C2.73478 14 2.48043 13.8946 2.29289 13.7071C2.10536 13.5196 2 13.2652 2 13ZM2 17.83C2 17.37 2.37 17 2.83 17C5.13 17 7 18.87 7 21.17C7 21.63 6.63 22 6.17 22H3C2.73478 22 2.48043 21.8946 2.29289 21.7071C2.10536 21.5196 2 21.2652 2 21V17.83ZM18.09 14.63C18.49 13.93 19.52 13.93 19.91 14.63L23.87 21.53C24.25 22.19 23.75 23 22.96 23H15.04C14.25 23 13.74 22.19 14.13 21.52L18.09 14.62V14.63ZM18.55 16.5H19.45C19.75 16.5 19.97 16.76 19.95 17.05L19.73 19.07C19.72 19.23 19.56 19.33 19.4 19.3C19.1363 19.2441 18.8637 19.2441 18.6 19.3C18.44 19.33 18.28 19.23 18.27 19.07L18.06 17.05C18.053 16.9803 18.0607 16.9098 18.0827 16.8433C18.1047 16.7767 18.1404 16.7155 18.1875 16.6637C18.2347 16.6118 18.2922 16.5704 18.3564 16.5422C18.4205 16.514 18.4899 16.4996 18.56 16.5H18.55ZM19 22C19.2652 22 19.5196 21.8946 19.7071 21.7071C19.8946 21.5196 20 21.2652 20 21C20 20.7348 19.8946 20.4804 19.7071 20.2929C19.5196 20.1054 19.2652 20 19 20C18.7348 20 18.4804 20.1054 18.2929 20.2929C18.1054 20.4804 18 20.7348 18 21C18 21.2652 18.1054 21.5196 18.2929 21.7071C18.4804 21.8946 18.7348 22 19 22Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/20px no-repeat;
    flex-shrink: 0;
    height: 32px;
    width: 32px;
  }
  &:after {
    background-color: var(--background-mod-strong);
    border: 1px solid var(--border-normal);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    content: "";
    height: 32px;
    position: absolute;
    width: 32px;
  }
}
.links_a2f514 {
  align-items: center;
  background-color: var(--control-secondary-background-default);
  border: 1px solid var(--control-secondary-border-default);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  color: var(--control-secondary-text-default);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: var(--space-4);
  line-height: 1.25;
  margin: unset;
  min-height: 40px;
  min-width: 40px;
  opacity: unset !important;
  padding: var(--space-8) var(--space-16);
  text-decoration: unset !important;
  text-wrap: nowrap;
  transition: 50ms ease;
  &:before {
    content: unset;
  }
  &:hover {
    background-color: var(--control-secondary-background-hover);
    border-color: var(--control-secondary-border-hover);
    color: var(--control-secondary-text-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-border-active);
    color: var(--control-secondary-text-active);
  }
}
.icon_a2f514 {
  color: inherit;
  height: 20px;
  margin: unset;
  width: 20px;
}

/* Base */
.base__5e434 {
  grid-template-areas: 
    "titleBar titleBar titleBar"
    "notice notice notice"
    "guildsList channelsList page";
}
.content__5e434 {
  grid-row: noticeEnd / end;
}
.base__5e434:has(.notice__6e2b9, .notice__29487) .bar_c38106 {
  --background-mod-normal: var(--opacity-white-8);
  --border-subtle: var(--opacity-white-8);
  --icon-muted: var(--opacity-white-60);
  --interactive-icon-active: var(--white);
  --interactive-icon-default: var(--opacity-white-60);
  --interactive-icon-hover: var(--white);
  --interactive-text-default: var(--opacity-white-60);
  --interactive-text-hover: var(--white);
  --text-default: var(--white);
}

.sidebar__5e434 {
  padding-right: 8px;
  &:after {
    content: unset;
  }
}
.sidebarResizeHandle__5e434 {
  background: unset !important;
  width: 8px;
  &:after {
    background: var(--background-mod-strong);
    border-radius: var(--radius-round);
    content: "";
    inset: 4px 2px;
    opacity: 0;
    position: absolute;
    transition: opacity 50ms ease;
  }
  &:hover:after, &:active:after {
    opacity: 1;
    transition: opacity .15s .4s ease;
  }
}
.sidebarList__5e434 {
  border-inline-end: 1px solid var(--app-frame-border);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
}
.panels__5e434 {
  width: calc(100% - var(--custom-panels-spacing)*2 - 8px);
}

.page__5e434 {
  border: 0 !important;
}
.applicationStore_f07d62 {
  background-color: unset;
}
.chat_f75fb0, .container__133bf, .page__1add6, .homeWrapper__0920e, .shop__6db1d, .container__955a3, .container_a592e1, .noChannelFavorites__01d5c, .container__89463, .wrapper_cb9592.noChat_cb9592 .callContainer_cb9592 {
  background: var(--background-gradient-chat,var(--background-base-lowest));
  border-bottom: 0;
  border-inline-start: 1px solid var(--app-frame-border);
  border-radius: var(--radius-sm) 0 0 0;
  border-top: 1px solid var(--app-frame-border);
  box-sizing: border-box;
  overflow: hidden;
}
.chat_f75fb0 {
  &.threadSidebarOpen_f75fb0 {
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
  }
  &:has(.noChat_cb9592) {
    background: unset;
    border: 0;
  }
}
.container__01ae2 {
  border-radius: var(--radius-sm) 0 0 0;
  overflow: hidden;
  &.floating__01ae2 {
    border-bottom-left-radius: var(--radius-sm);
  }
}
.callContainer_cb9592 {
  border-bottom: 1px solid var(--border-muted);
}
.wrapper_cb9592.sidebarOpen_cb9592 .callContainer_cb9592 {
  border-inline-end: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}
.channelChatWrapper_cb9592, .wrapper_cb9592 {
  background: unset;
}

/* Notice */
.bar_c38106:not(.systemBar_c38106) {
  z-index: 102;
}
.notice__6e2b9, .notice__29487 {
  align-items: center;
  border: 0;
  border-radius: 0;
  display: flex;
  gap: var(--space-8);
  height: 44px !important;
  justify-content: center;
  line-height: unset;
  margin-bottom: var(--space-8);
  padding-inline: var(--space-xs);
  width: unset;
  --notice-background-critical: var(--red-new-86);
  --notice-background-info: var(--blue-new-86);
  --notice-background-positive: var(--green-new-88);
  --notice-background-warning: var(--yellow-new-92);
  --notice-text-critical: var(--red-new-9);
  --notice-text-info: var(--blue-new-13);
  --notice-text-positive: var(--green-new-14);
  --notice-text-warning: var(--yellow-new-28);
}
.base__5e434 > :is(.notice__6e2b9, .notice__29487):before {
  background: inherit;
  content: "";
  height: var(--custom-app-top-bar-height);
  left: 0;
  opacity: .9;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: calc(var(--custom-app-top-bar-height) * -1);
}
.bg__960e4.theme-dark + div :is(.notice__6e2b9, .notice__29487):before {
  opacity: .5;
}
.icon_b68a35, .errorCodeNoticeText_b68a35 {
  margin: 0;
}
.button__6e2b9.button__6e2b9, .closeButton__6e2b9.closeButton__6e2b9, .closeButton__29487.closeButton__29487 {
  align-items: center;
  background-color: var(--control-overlay-primary-background-default);
  border: 1px solid var(--control-overlay-primary-border-default) !important;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  color: var(--custom-notice-background, var(--control-overlay-primary-icon-default)) !important;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: unset;
  justify-content: center;
  line-height: 1.2857142857142858;
  margin: unset;
  min-height: 32px;
  min-width: 32px;
  text-decoration: unset;
  transition: 50ms ease;
  width: unset;
  &:hover {
    background-color: var(--control-overlay-primary-background-hover);
    border-color: var(--control-overlay-primary-border-hover) !important;
    color: var(--custom-notice-background, var(--control-overlay-primary-icon-hover));
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-overlay-primary-background-active);
    border-color: var(--control-overlay-primary-border-active) !important;
    color: var(--custom-notice-background, var(--control-overlay-primary-icon-active));
  }
  path {
    fill: currentColor;
  }
}
.button__6e2b9.button__6e2b9 {
  position: unset;
  padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px);
}
.closeButton__6e2b9.closeButton__6e2b9 {
  order: 1;
  right: var(--space-xs);
  top: 50%;
  transform: translateY(-50%);
}
.closeIcon__6e2b9 {
  height: 16px;
  width: 16px;
  path {
    d: path("M19.3 20.7a1 1 0 0 0 1.4-1.4L13.42 12l7.3-7.3a1 1 0 0 0-1.42-1.4L12 10.58l-7.3-7.3a1 1 0 0 0-1.4 1.42L10.58 12l-7.3 7.3a1 1 0 1 0 1.42 1.4L12 13.42l7.3 7.3Z");
    fill: currentColor !important;
  }
}

/* Header */
.clickable__9293f {
  background-color: transparent;
  border: 1px solid;
  border-radius: var(--radius-sm);
  border-color: transparent;
  color: var(--control-icon-only-icon-default);
  min-width: var(--space-32);
  min-height: var(--space-32);
  transition: 50ms ease;
  &:hover {
    background-color: var(--control-icon-only-background-hover);
    border-color: var(--control-icon-only-border-hover);
    color: var(--control-icon-only-icon-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-icon-only-background-active);
    border-color: var(--control-icon-only-border-active);
    color: var(--control-icon-only-icon-active);
  }
  &.selected__9293f {
    background-color: var(--control-secondary-background-default);
    border-color: var(--control-secondary-border-default);
    color: var(--control-secondary-text-default);
  }
  &.selected__9293f:hover {
    background-color: var(--control-secondary-background-hover);
    border-color: var(--control-secondary-border-hover);
    color: var(--control-secondary-text-hover);
  }
  &.selected__9293f:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-border-active);
    color: var(--control-secondary-text-active);
  }
  svg {
    color: currentColor !important;
  }
}
.iconBadge__9293f {
  background-color: var(--background-brand);
}
.iconBadgeBottom__9293f {
  bottom: 5px;
  right: 5px;
}

/* Sidebar */
.privateChannelRecipientsInviteButtonIconContainer__99e7c {
  border-radius: var(--radius-xs);
  min-width: 16px;
  min-height: 16px;
}
.addButton__29444 {
  border: 1px solid transparent;
  border-radius: var(--radius-xs);
  color: var(--control-icon-only-icon-default);
  transition: 50ms ease;
  &:hover {
    background-color: var(--control-icon-only-background-hover);
    border-color: var(--control-icon-only-border-hover);
    color: var(--control-icon-only-icon-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-icon-only-background-active);
    border-color: var(--control-icon-only-border-active);
    color: var(--control-icon-only-icon-active);
  }
}

/* Pins */
.header__432f4 {
  background: unset;
  border-bottom: 1px solid var(--border-subtle);
  padding: var(--space-xs) var(--space-md);
  z-index: 1;
  svg:not([class]) {
    width: 20px;
    height: 20px;
    padding: 6px 0;
  }
  path {
    fill: var(--icon-strong);
  }
  div {
    color: var(--text-strong) !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
  }
}
.emptyPlaceholder__432f4 {
  justify-content: center;
  margin: 40px;
}
.image__432f4 {
  background-image: url(/assets/29e2479161d09050.png) !important;
  background-size: contain;
  height: 140px;
  margin-bottom: var(--space-24);
  width: 140px;
}
.body__432f4 {
  color: var(--text-default);
  line-height: 24px;
  margin-top: 0;
}
.footer__432f4 {
  background: var(--background-feedback-info);
  border: 1px solid var(--icon-feedback-info);
  border-radius: var(--radius-sm);
  color: var(--text-feedback-info);
  margin: var(--space-md);
  padding: var(--space-xs);
  text-align: unset;
}
.block__30cbe {
  display: flex;
  gap: 8px;
  padding: unset !important;
  &:before {
    content: "";
    background-color: currentColor;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M23 12a11 11 0 1 1-22 0 11 11 0 0 1 22 0Zm-9.5-4.75a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0Zm-.77 3.96a1 1 0 1 0-1.96-.42l-1.04 4.86a2.77 2.77 0 0 0 4.31 2.83l.24-.17a1 1 0 1 0-1.16-1.62l-.24.17a.77.77 0 0 1-1.2-.79l1.05-4.86Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
    flex-shrink: 0;
    height: 20px;
    width: 20px;
  }
}
.pro__30cbe {
  display: none;
}
.tip__30cbe {
  color: var(--text-default);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}

/* Floating Chat Bars */
.barBase__0f481 {
  border-radius: var(--radius-md);
  height: fit-content;
  gap: var(--space-xs);
  margin-bottom: unset !important;
  padding: var(--space-xs) !important;
  padding-top: var(--space-xs) !important;
  &:before {
    content: "";
    background: var(--icon-strong);
    height: 32px;
    flex-shrink: 0;
    position: unset;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M12 23C14.9174 23 17.7153 21.8411 19.7782 19.7782C21.8411 17.7153 23 14.9174 23 12C23 9.08262 21.8411 6.28473 19.7782 4.22183C17.7153 2.15893 14.9174 1 12 1C9.08262 1 6.28473 2.15893 4.22183 4.22183C2.15893 6.28473 1 9.08262 1 12C1 14.9174 2.15893 17.7153 4.22183 19.7782C6.28473 21.8411 9.08262 23 12 23ZM13 5C13 4.73478 12.8946 4.48043 12.7071 4.29289C12.5196 4.10536 12.2652 4 12 4C11.7348 4 11.4804 4.10536 11.2929 4.29289C11.1054 4.48043 11 4.73478 11 5V12C11 12.27 11.1 12.52 11.3 12.7L14.3 15.7C14.4926 15.8444 14.7308 15.9145 14.9709 15.8975C15.211 15.8804 15.4369 15.7773 15.6071 15.6071C15.7773 15.4369 15.8804 15.211 15.8975 14.9709C15.9145 14.7308 15.8444 14.4926 15.7 14.3L13 11.58V5Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/20px no-repeat;
    width: 32px;
    z-index: 1;
  }
  &:is(.newMessagesBar__0f481, .newTopicsBarContainer__0f481):before {
    background: var(--white);
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M12 22a10 10 0 1 0-8.45-4.64c.13.19.11.44-.04.61l-2.06 2.37A1 1 0 0 0 2.2 22H12Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/20px no-repeat;
  }
  &.messagesErrorBar__0f481:before {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm1.44-15.94L13.06 14a1.06 1.06 0 0 1-2.12 0l-.38-6.94a1 1 0 0 1 1-1.06h.88a1 1 0 0 1 1 1.06Zm-.19 10.69a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/20px no-repeat;
  }
  &.topicsPillContainer__0f481:before {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M3.11 8H6v10.82c0 .86.37 1.68 1 2.27.46.43 1.02.71 1.63.84A1 1 0 0 0 9 22h10a4 4 0 0 0 4-4v-1a2 2 0 0 0-2-2h-1V5a3 3 0 0 0-3-3H4.67c-.87 0-1.7.32-2.34.9-.63.6-1 1.42-1 2.28 0 .71.3 1.35.52 1.75a5.35 5.35 0 0 0 .48.7l.01.01h.01L3.11 7l-.76.65a1 1 0 0 0 .76.35Zm1.56-4c-.38 0-.72.14-.97.37-.24.23-.37.52-.37.81a1.69 1.69 0 0 0 .3.82H6v-.83c0-.29-.13-.58-.37-.8C5.4 4.14 5.04 4 4.67 4Zm5 13a3.58 3.58 0 0 1 0 3H19a2 2 0 0 0 2-2v-1H9.66ZM3.86 6.35ZM11 8a1 1 0 1 0 0 2h5a1 1 0 0 0 0-2h-5Zm-1 5a1 1 0 0 1 1-1h5a1 1 0 0 1 0 2h-5a1 1 0 0 1-1-1Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/20px no-repeat;
  }
  &:after {
    background-color: var(--background-mod-strong);
    border: 1px solid var(--border-normal);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    content: "";
    height: 32px;
    position: absolute;
    width: 32px;
  }
}
.bottomBar__0f481 {
  bottom: calc(var(--space-md) + 16px);
}
.newMessagesBar__0f481, .topicsPillContainer__0f481, .newTopicsBarContainer__0f481 {
  border-radius: 0 0 var(--radius-md) var(--radius-md);
}
.barButtonMain__0f481 {
  padding: 0;
  cursor: unset !important;
}
.barButtonAlt__0f481 {
  background-color: var(--control-overlay-primary-background-default);
  border: 1px solid var(--control-overlay-primary-border-default);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  color: var(--control-overlay-primary-text-default);
  flex-direction: row-reverse;
  font-size: 14px;
  font-weight: 500;
  gap: var(--space-4);
  line-height: 1.2857142857142858;
  min-height: 32px;
  min-width: 32px;
  padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px);
  transition: 50ms ease;
  &:hover {
    background-color: var(--control-overlay-primary-background-hover);
    border-color: var(--control-overlay-primary-border-hover);
    color: var(--control-overlay-primary-icon-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-overlay-primary-background-active);
    border-color: var(--control-overlay-primary-border-active);
    color: var(--control-overlay-primary-icon-active);
  }
}
.barButtonIcon__0f481 {
  margin: unset;
  width: 16px;
  height: 16px;
}

.topicsPill__0f481, .newTopicsBarTopicSection__0f481 {
  display: contents;
}
.topicsPillText__0f481 {
  padding: 0;
}
.topicsPillTextUnselected__0f481, .newTopicsBarTextUnselected__0f481, .newTopicsBarTextSelected__0f481 {
  border: 1px solid;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  font-weight: 500;
  gap: var(--space-4);
  min-height: 32px;
  min-width: 32px;
  padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px);
  margin: 0 !important;
  transition: 50ms ease;
  &:hover {
    transition: .15s ease;
  }
  div, svg {
    color: inherit !important;
    margin: unset;
  }
}
.topicsPillTextUnselected__0f481 {
  background-color: var(--control-secondary-background-default);
  border-color: var(--control-secondary-border-default);
  color: var(--control-secondary-text-default);
  &:hover {
    background-color: var(--control-secondary-background-hover);
    border-color: var(--control-secondary-border-hover);
    color: var(--control-secondary-text-hover);
  }
  &:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-border-active);
    color: var(--control-secondary-text-active);
  }
}
.newTopicsBarTextUnselected__0f481, .newTopicsBarTextSelected__0f481 {
  background-color: var(--control-overlay-primary-background-default);
  border-color: var(--control-overlay-primary-border-default);
  color: var(--control-overlay-primary-icon-default);
  &:hover {
    background-color: var(--control-overlay-primary-background-hover);
    border-color: var(--control-overlay-primary-border-hover);
    color: var(--control-overlay-primary-icon-hover);
  }
  &:active {
    background-color: var(--control-overlay-primary-background-active);
    border-color: var(--control-overlay-primary-border-active);
    color: var(--control-overlay-primary-icon-active);
  }
}
.topicsPillDropdownCaret__0f481, .newTopicsBarCaret__0f481 {
  margin: unset;
  padding: unset;
}
.topicsPillSummaryIcon__0f481 {
  display: none;
}
.topicsPillCarets__0f481 {
  height: unset;
  gap: var(--space-4);
  padding: unset;
}
.topicsPillCaret__0f481 {
  background-color: var(--control-overlay-primary-background-default);
  border: 1px solid var(--control-overlay-primary-border-default);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  color: var(--control-overlay-primary-text-default);
  min-height: 32px;
  min-width: 32px;
  transition: 50ms ease;
  &:hover {
    background-color: var(--control-overlay-primary-background-hover);
    border-color: var(--control-overlay-primary-border-hover);
    color: var(--control-overlay-primary-icon-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-overlay-primary-background-active);
    border-color: var(--control-overlay-primary-border-active);
    color: var(--control-overlay-primary-icon-active);
  }
}
.newTopicsBarInitial__0f481 {
  justify-content: end;
}

/* Context Menu
.menu_c1e9c4 {
  background: var(--background-surface-highest);
  border-color: var(--background-surface-highest);
  border-radius: var(--radius-md);
  overflow: hidden;
}
.scroller_c1e9c4 {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 0;
  &::-webkit-scrollbar {
    display: none !important;
  }
  [role="group"]:not(.wrapper_f563df) {
    display: contents;
  }
  .wrapper_f563df {
    background: var(--background-surface-high);
  }
}
.item_c1e9c4 {
  background: var(--background-surface-high);
  border-radius: 0 !important;
  transition: .15s ease;
  &:hover, &.focused_c1e9c4 {
    background: var(--background-surface-higher);
  }
  &:active:not(.hideInteraction_c1e9c4) {
    background: var(--background-surface-highest);
  }
  &.nonInteractive_c1e9c4 {
    background: var(--background-surface-high) !important;
  }
  .wrapper__72c38 {
    border: 0;
    border-radius: 0;
    outline: unset !important;
  }
}

.labelContainer_c1e9c4 {
  min-height: 44px;
  padding: var(--space-sm);
}
.sliderContainer__65039 {
  padding-inline: var(--space-md);
}
.groupLabel_c1e9c4 {
  background-color: var(--background-base-low);
  padding-block: 0;
}
.separator_c1e9c4 {
  border: 0;
  background-color: var(--background-surface-highest);
  height: var(--space-8);
  flex-shrink: 0;
  margin: unset;
}
*/

/* Misc */
:root {
  --background-feedback-notification: var(--background-brand);
}

.layer__59d0d:has(#guild-header-popout, #favorites-header-popout) {
  left: 80px !important;
}
#guild-header-popout, #favorites-header-popout {
  margin-top: 4px;
  min-width: 220px;
  width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - (var(--space-8) * 2))
}

.themed__9293f.themed__9293f, .content_f75fb0 {
  background: var(--background-gradient-chat,var(--background-base-lower));
  border-top: unset;
}
.search__49676 {
  flex: 0 1 266px;
  margin: unset;
  max-width: 266px;
  width: clamp(var(--space-64),100cqi - 320px,266px);
}

.popover_f84418.popover_f84418, .actionBarContainer_aa605f {
  background-color: var(--background-surface-highest);
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-sm);
  display: flex;
  gap: 4px;
  padding: 3px !important;
}
.actionBar_aa605f, .wrapper_f7ecac {
  display: contents;
}
.button_f7ecac.button_f7ecac {
  background-color: transparent;
  border: 1px solid;
  border-radius: var(--radius-xs);
  border-color: transparent;
  box-sizing: border-box;
  color: var(--control-icon-only-icon-default);
  min-width: var(--space-24);
  min-height: var(--space-24);
  padding: 0;
  transition: 50ms ease;
  &:hover {
    background-color: var(--control-icon-only-background-hover);
    border-color: var(--control-icon-only-border-hover);
    color: var(--control-icon-only-icon-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-icon-only-background-active);
    border-color: var(--control-icon-only-border-active);
    color: var(--control-icon-only-icon-active);
  }
  &.dangerous_f7ecac {
    background-color: var(--control-critical-primary-background-default);
    border-color: var(--control-critical-primary-border-default);
    color: var(--control-critical-primary-text-default);
  }
  &.dangerous_f7ecac:hover {
    background-color: var(--control-critical-primary-background-hover);
    border-color: var(--control-critical-primary-border-hover);
    color: var(--control-critical-primary-text-hover);
  }
  &.dangerous_f7ecac:active {
    background-color: var(--control-critical-primary-background-active);
    border-color: var(--control-critical-primary-border-active);
    color: var(--control-critical-primary-text-active);
  }
}
.icon_f84418.icon_f84418, .actionBarIcon_a7e304 {
  height: 16px;
  transform: unset !important;
  width: 16px;
  .emoji {
    height: inherit;
    width: inherit;
  }
}
.separator_f84418 {
  width: 4px;
  height: 4px;
}

.container_c8ffbb {
  display: contents;
}
.membersWrap_c8ffbb {
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-md);
  margin: var(--space-xs) var(--space-xs) var(--space-xs) 0;
  overflow: hidden;
  height: unset;
}
.members_c8ffbb::-webkit-scrollbar-track {
  margin-block: 8px;
}
.container__0f2e8 {
  border-radius: var(--radius-sm);
}
.emptyStateHeader__7641b {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
  text-transform: none; 
}
.emptyStateIcon__7641b {
  background-color: var(--background-gradient-high,var(--background-surface-high));
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-md);
  box-sizing: border-box;
  color: var(--icon-subtle);
}
.emptyStateStars__7641b {
  display: none;
}
.private__7641b {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
  text-transform: none;
}
.instructions__7641b {
  color: var(--channels-default) !important;
}