html {
    --bg-overlay-1: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-1)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-1))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-2: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-3: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-4: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-4)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-4))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-5: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-6: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-hover: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-hover-inverse)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-hover-inverse))) fixed 0 0/cover,linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-hover)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-hover))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-active: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-active-inverse)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-active-inverse))) fixed 0 0/cover,linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-active)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-active))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-selected: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-selected-inverse)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-selected-inverse))) fixed 0 0/cover,linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-selected)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-selected))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-chat: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-chat)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-chat))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-home: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-home)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-home))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-home-card: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-home-card)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-home-card))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-app-frame: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-app-frame)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-app-frame))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
}
.theme-dark {
    --bg-overlay-color: 0 0 0;
    --bg-overlay-color-inverse: 255 255 255;
    --bg-overlay-opacity-1: 0.85;
    --bg-overlay-opacity-2: 0.8;
    --bg-overlay-opacity-3: 0.7;
    --bg-overlay-opacity-4: 0.5;
    --bg-overlay-opacity-5: 0.4;
    --bg-overlay-opacity-6: 0.1;
    --bg-overlay-opacity-hover: 0.5;
    --bg-overlay-opacity-hover-inverse: 0.08;
    --bg-overlay-opacity-active: 0.45;
    --bg-overlay-opacity-active-inverse: 0.1;
    --bg-overlay-opacity-selected: 0.4;
    --bg-overlay-opacity-selected-inverse: 0.15;
    --bg-overlay-opacity-chat: 0.8;
    --bg-overlay-opacity-home: 0.85;
    --bg-overlay-opacity-home-card: 0.8;
    --bg-overlay-opacity-app-frame: var(--bg-overlay-opacity-4);
    
    --old-sunset: linear-gradient(var(--theme-angle), #48288c 0%, #db7f4b 100%);
    --old-neon-glow: linear-gradient(var(--theme-angle), #4c0ce0 0%, #f900ff 100%);
    --old-deep-forest: linear-gradient(var(--theme-angle), #145204 0%, #13845b 100%);
    --old-dies-alone: linear-gradient(var(--theme-angle), #950909 0%, #000000 100%);
    --old-dusk: linear-gradient(var(--theme-angle), #154997 0%, #7c5fba 100%);
    --old-midnight-blurple: linear-gradient(var(--theme-angle), #5348ca 0%, #140730 100%);
    --dune: linear-gradient(var(--theme-angle), #ca6f48 0%, #bf9529 100%);
    --twilight-metro: linear-gradient(var(--theme-angle), #db1ab1 0%, #20a6a6 100%);
    --old-sunset-2: linear-gradient(180deg, #0a146f 6.74%, #48288c 33.64%, #bb3156 62.47%, #db6f33 96.09%);
    --sunset: linear-gradient(141.68deg, var(--bg-gradient-sunset-1) 27.57%, var(--bg-gradient-sunset-2) 71.25%);
    --chroma-glow: linear-gradient(128.92deg, #0eb5bf 3.94%, #4c0ce0 26.1%, #a308a7 39.82%, #9a53ff 56.89%, #218be0 76.45%);
    --forest: linear-gradient(162.27deg, var(--bg-gradient-forest-1) 11.2%, var(--bg-gradient-forest-2) 29.93%, var(--bg-gradient-forest-3) 48.64%, var(--bg-gradient-forest-4) 67.85%, var(--bg-gradient-forest-5) 83.54%);
    --crimson-moon: linear-gradient(64.92deg, var(--bg-gradient-crimson-moon-1) 16.17%, var(--bg-gradient-crimson-moon-2) 72%);
    --midnight-blurple: linear-gradient(48.17deg, var(--bg-gradient-midnight-blurple-1) 11.21%, var(--bg-gradient-midnight-blurple-2) 61.92%);
    --dusk: linear-gradient(180deg, var(--bg-gradient-dusk-1) 12.84%, var(--bg-gradient-dusk-2) 85.99%);
    --under-the-sea: linear-gradient(179.14deg, var(--bg-gradient-under-the-sea-1) 1.91%, var(--bg-gradient-under-the-sea-2) 48.99%, var(--bg-gradient-under-the-sea-3) 96.35%);
}
.theme-light {
    --bg-overlay-color: 255 255 255;
    --bg-overlay-color-inverse: 0 0 0;
    --bg-overlay-opacity-1: 0.9;
    --bg-overlay-opacity-2: 0.8;
    --bg-overlay-opacity-3: 0.7;
    --bg-overlay-opacity-4: 0.6;
    --bg-overlay-opacity-5: 0.3;
    --bg-overlay-opacity-6: 0.15;
    --bg-overlay-opacity-hover: 0.7;
    --bg-overlay-opacity-hover-inverse: 0.02;
    --bg-overlay-opacity-active: 0.65;
    --bg-overlay-opacity-active-inverse: 0.03;
    --bg-overlay-opacity-selected: 0.6;
    --bg-overlay-opacity-selected-inverse: 0.04;
    --bg-overlay-opacity-chat: 0.9;
    --bg-overlay-opacity-home: 0.7;
    --bg-overlay-opacity-home-card: 0.9;
    --bg-overlay-opacity-app-frame: var(--bg-overlay-opacity-5);
    
    --old-cotton-candy: linear-gradient(var(--theme-angle), #f4abb8 0%, #b1c2fc 100%);
    --old-mint-apple: linear-gradient(var(--theme-angle), #2eba98 0%, #8ed24b 100%);
    --periwinkle-daydreams: linear-gradient(var(--theme-angle), #4ea2d1 0%, #5957cc 100%);
    --rosy-blush: linear-gradient(var(--theme-angle), #d14ead 0%, #ce8890 100%);
    --old-sunrise: linear-gradient(var(--theme-angle), #784ed1 0%, #df765f 100%);
    --city-pop: linear-gradient(var(--theme-angle), #00c7bb 0%, #df5fc3 100%);
    --mint-apple: linear-gradient(180deg, var(--bg-gradient-mint-apple-1) 6.15%, var(--bg-gradient-mint-apple-2) 48.7%, var(--bg-gradient-mint-apple-3) 93.07%);
    --citrus-sherbert: linear-gradient(180deg, var(--bg-gradient-citrus-sherbert-1) 31.1%, var(--bg-gradient-citrus-sherbert-2) 67.09%);
    --retro-raincloud: linear-gradient(148.71deg, var(--bg-gradient-retro-raincloud-1) 5.64%, var(--bg-gradient-retro-raincloud-2) 26.38%, var(--bg-gradient-retro-raincloud-2) 49.92%, var(--bg-gradient-retro-raincloud-1) 73.12%);
    --hanami: linear-gradient(38.08deg, var(--bg-gradient-hanami-1) 3.56%, var(--bg-gradient-hanami-2) 35.49%, var(--bg-gradient-hanami-3) 68.78%);
    --sunrise: linear-gradient(154.19deg, var(--bg-gradient-sunrise-1) 8.62%, var(--bg-gradient-sunrise-2) 48.07%, var(--bg-gradient-sunrise-3) 76.04%);
    --cotton-candy: linear-gradient(180.14deg, var(--bg-gradient-cotton-candy-1) 8.5%, var(--bg-gradient-cotton-candy-2) 94.28%);
    --lofi-vibes: linear-gradient(179.52deg, var(--bg-gradient-lofi-vibes-1) 7.08%, var(--bg-gradient-lofi-vibes-2) 34.94%, var(--bg-gradient-lofi-vibes-3) 65.12%, var(--bg-gradient-lofi-vibes-4) 96.23%);
    --desert-khaki: linear-gradient(38.99deg, var(--bg-gradient-desert-khaki-1) 12.92%, var(--bg-gradient-desert-khaki-2) 32.92%, var(--bg-gradient-desert-khaki-3) 52.11%);
}

.bg-1QIAus {
    top: 0 !important;
}

/*Scrollbars*/
.theme-dark .auto-2TJ1RH::-webkit-scrollbar-track {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/.4)),to(rgb(var(--bg-overlay-color)/.4))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color)/.4),rgb(var(--bg-overlay-color)/.4)),var(--custom-theme-background);
}
.theme-dark .auto-2TJ1RH::-webkit-scrollbar-thumb,
.theme-dark .thin-RnSY0a::-webkit-scrollbar-thumb {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))),to(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))),var(--custom-theme-background);
}
.theme-light .auto-2TJ1RH::-webkit-scrollbar-track {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))),to(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))),var(--custom-theme-background);
}
.theme-light .auto-2TJ1RH::-webkit-scrollbar-thumb,
.theme-light .thin-RnSY0a::-webkit-scrollbar-thumb {
    background-size: 100vh;
    background-image: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3));
}

/*Sidebar*/
.wrapper-1_HaEi {
    background: var(--bg-overlay-app-frame, var(--background-tertiary)) !important;
}
.wrapper-3kah-n:not(:hover):not(.selected-1Drb7Z) .childWrapper-1j_1ub,
.circleIconButton-1VxDrg:not(.selected-2r1Hvo) {    
    background: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
}
.tutorialContainer-2jwoiB:not(:nth-child(1)) .circleIconButton-1VxDrg.selected-2r1Hvo,
.tutorialContainer-2jwoiB:not(:nth-child(1)) ~ .listItem-3SmSlK .circleIconButton-1VxDrg.selected-2r1Hvo {
    color: var(--white-500);
}
.theme-dark .expandedFolderBackground-1kSAf6 {
    background: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
}
.theme-dark .folder-241Joy {
    background: var(--bg-overlay-6,var(--background-secondary));
}
.theme-light .expandedFolderBackground-1kSAf6 {
    background: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5));
}
.theme-light .folder-241Joy {
    background: var(--bg-overlay-3,var(--background-secondary));
}

/*Call UI*/
.wrapper-1gVUIN.minimum-fXpVNc {
    background: var(--bg-overlay-1,var(--background-floating));
}

/*Popouts*/
.messagesPopoutWrap-3zryHW .header-1w9Q93,
.recentMentionsPopout-2bI1ZN .header-145e10,
.header-3_zmOb,
.messagesPopoutWrap-3zryHW .footer-5ji8u1 {
    background: var(--bg-overlay-4,var(--background-tertiary));
}
.header-3_zmOb .searchBox-3IjAC1 {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.messagesPopoutWrap-3zryHW .messagesPopout-eVzQcI,
.recentMentionsPopout-2bI1ZN .scroller-145h9c,
.recentMentionsPopout-2bI1ZN .container-1A0qQO,
.list-3YHPPb,
.container-2c4_8A {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.messageGroupWrapper-1jf_7C,
.messageContainer-3VTXBC,
.messages-23can0,
.container-2rzKKA {
    background: var(--bg-overlay-chat,var(--background-primary));
}
.recentMentionsPopout-2bI1ZN .size32-1NLMUP,
.recentMentionsPopout-2bI1ZN .friendRequestsButton-77veU7 {
    background: var(--bg-overlay-4,var(--background-primary));
}
.recentMentionsPopout-2bI1ZN .size32-1NLMUP:hover,
.recentMentionsPopout-2bI1ZN .friendRequestsButton-77veU7:hover {
    background: var(--bg-overlay-5,var(--background-floating));
}
.recentMentionsPopout-2bI1ZN .friendRequestsButton-77veU7 .numberBadge-37OJ3S {
    background: var(--bg-overlay-3,var(--background-primary));
}

.channelHeader-DFRX8q {
    background: transparent;
}

/*Friends List*/
.actionButton-3-B2x- {
    background: var(--bg-overlay-4,var(--background-secondary));
}
.actionButton-3-B2x-:active {
    background: var(--bg-overlay-5,var(--background-modifier-active));
}
.wrapper-2RrXDg {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.section-3G9aLW {
    background: var(--bg-overlay-1,var(--background-primary));
}

/*Chat*/
.embedFull-1HGV2S,
.wrapper-1HIH0j,
.wrapperAudio-1Bzv_Z,
.markup-eYLPri code,
.container-3i3IzO,
.attachmentContentItem-UKeiCx .textContainer-36wgKK,
.attachmentContentItem-UKeiCx code,
.attachmentContentItem-UKeiCx .footer-GXWBBp,
.modalTextContainer-1FUO2W,
.modalTextContainer-1FUO2W code,
.modalTextContainer-1FUO2W + .footer-GXWBBp {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.theme-dark .invite-3uuHYQ {
    background: var(--bg-overlay-3,hsl(var(--primary-dark-630-hsl)/.6));
}
.theme-light .invite-3uuHYQ {
    background: var(--bg-overlay-3,hsl(var(--primary-dark-100-hsl)/.6));
}
.wrapper-2vIMkT,
.upload-vLbqu- {
    background: var(--bg-overlay-4,var(--background-secondary));
}
.menu-1QACrS {
    background: var(--bg-overlay-3,var(--background-floating));
}

.theme-dark .replyBar-1oi75v,
.theme-dark .threadSuggestionBar-3ExSyc {
    background: var(--bg-overlay-1,var(--background-secondary));
}
.theme-light .replyBar-1oi75v,
.theme-light .threadSuggestionBar-3ExSyc {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.theme-dark .attachedBars-2BCP3l{
    background: var(--bg-overlay-1,var(--background-secondary));
    background: var(--bg-overlay-2,var(--background-secondary));
}
.divider-2rZFJK {
    border-top: thin solid rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
}

/*Forum Channel*/
.mainCard-3KBsBI {
    background: var(--bg-overlay-3,var(--background-primary));
}
.form-25Aujy .input-3O04eu {
    background: transparent;
}
.matchingPostsRow-2IiEQ1 {
    background: var(--bg-overlay-4,var(--background-secondary));
}
.popout-2vZMlk {
    background: var(--bg-overlay-4,var(--background-secondary));
}
.uploadInput-3fblkw {
    background: var(--bg-overlay-5,var(--background-secondary-alt));
}

/*Search Menu*/
.searchResultsWrap-5RVOkx {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.searchHeader-1r_ZSh {
    background: var(--bg-overlay-3,var(--background-tertiary));
}
.searchResult-O9NDji {
    background: var(--bg-overlay-1,var(--background-primary));
}

/*Discover Page*/
.sidebar-1tnWFu {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.pageWrapper-2PwDoS {
    background: var(--bg-overlay-1,var(--background-primary));
}
.card-2TuZPZ,
.iconMask-2fMR98 {
    background: var(--bg-overlay-4,var(--background-secondary-alt));
}
.card-2TuZPZ:hover,
.card-2TuZPZ:hover .iconMask-2fMR98 {
    background: var(--bg-overlay-5,var(--background-tertiary));
}

/*Home Page*/
.interactiveCard-2iMtdk,
.container-2Hi7Km,
.container-xwOzwi,
.container-3rZ3XA {
    background: var(--bg-overlay-3,var(--background-primary));
}
.icon-2IDTxf {
    border: 0;
}
.iconContainer-2R-3M1 {
    background: var(--bg-overlay-4,var(--background-tertiary));
}
.container-3HMTms:hover {
    background: var(--bg-overlay-5,var(--background-secondary));
}
.parentContainer-1BJf98 {
    background: var(--bg-overlay-4,var(--background-floating));
}

/*Channels & Roles Page*/
#app-mount .container-2IKOsH {
    background: var(--bg-overlay-1,var(--background-secondary-alt));
}
.prompt-1sE27N,
.profileCard-2gVmvm,
.channelRow-4X_3fi {
    background: var(--bg-overlay-3,var(--background-primary));
}
.optionButton-1W9f7G.selected-KQBgNS {
    background: var(--bg-overlay-4,var(--background-tertiary));
}
.search-kg4MrS.container-2oNtJn {
    background: var(--bg-overlay-4,var(--background-tertiary));
}

/*Popouts*/
.layer-1Ixpg3 > .focusLock-2tveLW .root-g14mjS,
.layer-1Ixpg3 form .focusLock-2tveLW .root-g14mjS,
.layer-1Ixpg3 > .focusLock-2tveLW .header-1sd0RU,
.focusLock-2tveLW .container-3eB5yh {
    background: var(--bg-overlay-1,var(--modal-background));
}
.focusLock-2tveLW .eventCard-2ZL9GD {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.focusLock-2tveLW .eventCard-2ZL9GD:hover {
    background: var(--bg-overlay-3,var(--background-secondary-alt));
}
.layer-1Ixpg3 > .focusLock-2tveLW .footer-31IekZ,
.layer-1Ixpg3 form .focusLock-2tveLW .modalFooter-2XY3GW {
    background: var(--bg-overlay-3,var(--modal-footer-background));
}

/*Buttons*/
.theme-dark .circleIconButton-1VxDrg:not(.selected-2r1Hvo) {
    background: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
}
.theme-light .circleIconButton-1VxDrg:not(.selected-2r1Hvo){
    background: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3));
}

.button-1EGGcP {
    position: relative;
    z-index: 1;
}

.theme-dark .button-1EGGcP.buttonColor-3bP3fX,
.theme-dark .button-1EGGcP .buttonColor-3bP3fX {
    background: var(--bg-overlay-4,var(--background-primary));
}
.theme-dark .button-1EGGcP.buttonColor-3bP3fX:hover,
.theme-dark .button-1EGGcP .buttonColor-3bP3fX:hover {
    background: var(--bg-overlay-5,var(--background-secondary));
}
.theme-dark .button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.theme-dark .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background: var(--green-360);
    color: var(--white-500);
}
.theme-dark .button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,
.theme-dark .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background: var(--green-330);
}
.theme-light .container-1zzFcN{
    background: var(--bg-overlay-3,var(--background-secondary-alt));
}
.theme-light .button-1EGGcP.buttonColor-3bP3fX,
.theme-light .button-1EGGcP .buttonColor-3bP3fX {
    background: var(--bg-overlay-1,var(--background-primary));
}
.theme-light .button-1EGGcP.buttonColor-3bP3fX:hover,
.theme-light .button-1EGGcP .buttonColor-3bP3fX:hover {
    background: var(--bg-overlay-2,var(--background-secondary));
}
.theme-light .button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.theme-light .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background: var(--green-360);
    color: var(--white-500);
}
.theme-light .button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,
.theme-light .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background:var(--green-330);
}

/*.button-1EGGcP.buttonColor-3bP3fX,
.button-1EGGcP .buttonColor-3bP3fX,
.lookOutlined-3yKVGo.colorPrimary-2AuQVo {
    background: transparent !important;
}
button.buttonColor-3bP3fX:after,
button .buttonColor-3bP3fX:after,
button.colorPrimary-2AuQVo:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg-overlay-6,var(--background-primary));
    border-radius: 3px;
    transition: opacity .17s ease;
    z-index: -1;
}
button.buttonColor-3bP3fX:after,
button .buttonColor-3bP3fX:after {
    opacity: .6;
}
button.colorPrimary-2AuQVo:after {
    opacity: 0;
}
.button-1EGGcP.buttonColor-3bP3fX:hover:after,
.button-1EGGcP .buttonColor-3bP3fX:hover:after,
button.colorPrimary-2AuQVo:hover:after {
    opacity: 1;
}*/
.expandButton-16yJoR {
    z-index: 1;
    position: relative;
    background: transparent !important;
}
.expandButton-16yJoR:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg-overlay-6,var(--background-primary));
    border-radius: 50%;
    opacity: .8;
    transition: opacity .2s ease;
    z-index: -1;
}
.expandButton-16yJoR:hover:after {
    opacity: 1;
}

/*Misc.*/
.children-3xh0VB:after,
.form-3gdLxP:before {
    content: unset;
}
.isUnread-3Lojb- {
    border-color: var(--divider-color);
}
.theme-light .modeMuted-2T4MDZ .icon-2W8DHg,
.theme-light .modeMuted-2T4MDZ .name-28HaxV {
    color: var(--primary-330);
}

/*Settings*/
.sidebarRegionScroller-FXiQOh {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.contentRegionScroller-2_GT_N,
.directoryModal-YJsOMv {
    background: var(--bg-overlay-1,var(--background-primary));
}
.cardPrimary-3qRT__, .cardPrimaryEditable-2mz_3i {
    background: var(--bg-overlay-3,var(--background-tertiary));
}
.previewMessage-2g_aBv {
    background: var(--bg-overlay-1,var(--background-primary));
}

.lookFilled-GPyucw.select-Zz0IcO,
.input-3O04eu {
    background: var(--bg-overlay-3,var(--input-background));
}

.itemFilled-2Fo7lr {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.itemFilled-2Fo7lr:hover:not([aria-checked=true]):not(.disabled-WBmOu_) {
    background: var(--bg-overlay-4,var(--background-modifier-hover));
}
.itemFilled-2Fo7lr[aria-checked=true] {
    background: var(--bg-overlay-4,var(--background-modifier-selected));
}

/*Connections*/
.connectContainer-1hylYM {
    background: var(--bg-overlay-4,var(--background-secondary-alt));
}
.accountButtonInner-33vCDY {
    position: relative;
    background-color: transparent !important;
    z-index: 1;
}
.accountButtonInner-33vCDY:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: var(--bg-overlay-1,var(--background-primary)) !important;
    z-index: -1;
}

.connection-YOVI9j {
    background: var(--bg-overlay-3,var(--background-secondary));
}
.connectionHeader-Ixbb1s {
    background: var(--bg-overlay-4,var(--background-secondary-alt));
}
.metadataContainer-35U-On {
    background: var(--bg-overlay-1,var(--background-tertiary));
}

/*Appearance Tab*/
.preview-QJ3OG3 {
    background: transparent;
}
.preview-QJ3OG3 > div {
    z-index: 2;
}
.theme-dark .preview-QJ3OG3:after {
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3))),to(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3)))),var(--custom-theme-background);
    background: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3))),var(--custom-theme-background);
}
.theme-light .preview-QJ3OG3:after {
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))),to(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)))),var(--custom-theme-background);
    background: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))),var(--custom-theme-background);
}
.preview-QJ3OG3:after {
    z-index: 1;
}
.preview-QJ3OG3:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--deprecated-card-bg);
    z-index: 0;
}

/*Voice and Video Tab*/
#app-mount .container-3NTP7o {
    border-radius: 20px;
}
.cameraWrapper-3a7Ngv {
    background: var(--bg-overlay-3,var(--background-secondary));
}
