._5126c0cd07f243a0-mentioned {
  background: none;
  z-index: 0;
}
._5126c0cd07f243a0-message:hover, ._5126c0cd07f243a0-message._5126c0cd07f243a0-selected {
  background-color: var(--bg-overlay-1,var(--background-message-hover)) !important;
}
.c19a557985eb7793-messageContent, .c19a557985eb7793-compact .c19a557985eb7793-contents {
  position: unset !important;
}
.mention, ._752971923a1e6683-roleMention {
  position: unset;
  filter: none;
}
.c19a557985eb7793-hasReply._5126c0cd07f243a0-mentioned:not(:has([class*="ention"])):before,
._5126c0cd07f243a0-mentioned .mention:before,
._5126c0cd07f243a0-mentioned ._752971923a1e6683-roleMention:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--info-warning-foreground);
  filter: saturate(var(--saturation-factor,1));
  pointer-events: none;
}
.c19a557985eb7793-hasReply._5126c0cd07f243a0-mentioned:not(:has([class*="ention"])):after,
._5126c0cd07f243a0-mentioned .mention:after,
._5126c0cd07f243a0-mentioned ._752971923a1e6683-roleMention:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--background-mentioned);
  z-index: -1;
  filter: saturate(var(--saturation-factor,1));
  pointer-events: none;
}
._752971923a1e6683-roleMention[style]:before {
  background-color: currentColor;
}
._752971923a1e6683-roleMention[style]:after {
  background: currentColor;
  opacity: 0.1;
}
._5126c0cd07f243a0-mentioned:before,
._5126c0cd07f243a0-mentioned:after,
.c19a557985eb7793-repliedMessage [class*="ention"]:before,
.c19a557985eb7793-repliedMessage [class*="ention"]:after,
.mention ~ [class*="ention"]:before,
.mention ~ [class*="ention"]:after,
._752971923a1e6683-roleMention ~ [class*="ention"]:before,
._752971923a1e6683-roleMention ~ [class*="ention"]:after,
._5126c0cd07f243a0-mentioned:before,
._5126c0cd07f243a0-mentioned:after {
  content: unset;
}