.attachButtonInner__0923f, .container_aa63ab, .buttonContainer_aa63ab {
  display: contents;
}
.separator_aa63ab {
  display: none;
}
.fm-buttonContainer {
  display: none;
}
.app-launcher-entrypoint {
  border-radius: unset;
  background: unset !important;
}

.button__24af7.button__24af7, .button__74017.button__74017, .button_e6e74f.button_e6e74f {
  background-color: transparent;
  border: 1px solid;
  border-radius: var(--radius-sm);
  border-color: transparent;
  color: var(--control-icon-only-icon-default);
  min-width: var(--space-32);
  min-height: var(--space-32);
  transition: 50ms ease;
  &:hover {
    background-color: var(--control-icon-only-background-hover);
    border-color: var(--control-icon-only-border-hover);
    color: var(--control-icon-only-icon-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-icon-only-background-active);
    border-color: var(--control-icon-only-border-active);
    color: var(--control-icon-only-icon-active);
  }
}

.button_aa63ab.button_aa63ab {
  background-color: var(--control-primary-background-default);
  border-color: var(--control-primary-border-default);
  color: var(--control-primary-text-default);
  transition: 50ms ease, margin .15s ease, opacity .15s ease;
  &:hover {
    background-color: var(--control-primary-background-hover);
    border-color: var(--control-primary-border-hover);
    color: var(--control-primary-text-hover);
  }
  &:active {
    background-color: var(--control-primary-background-active);
    border-color: var(--control-primary-border-active);
    color: var(--control-primary-text-active);
  }
}
.button_aa63ab.disabled__24af7 {
  pointer-events: none;
  opacity: 0;
  margin-inline-start: calc((var(--space-32) + var(--space-8)) * -1);
}

.buttonChild_aa63ab {
  color: inherit !important;
}
.spriteGreyscale__04eed {
  background-color: currentColor;
}

/* Uploads Bar */
.upload_aa605f {
  border-radius: var(--radius-md);
}
.actionBarContainer_aa605f {
  background-color: var(--background-surface-highest);
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-sm);
  display: flex;
  gap: 4px;
  padding: 3px;
}
.actionBar_aa605f {
  display: contents;
  .wrapper_f7ecac {
    display: contents;
  }
  .button_f7ecac {
    background-color: transparent;
    border: 1px solid;
    border-radius: var(--radius-xs);
    border-color: transparent;
    color: var(--control-icon-only-icon-default);
    min-width: var(--space-24);
    min-height: var(--space-24);
    padding: 0;
    transition: 50ms ease;
    &:hover {
      background-color: var(--control-icon-only-background-hover);
      border-color: var(--control-icon-only-border-hover);
      color: var(--control-icon-only-icon-hover);
      transition: .15s ease;
    }
    &:active {
      background-color: var(--control-icon-only-background-active);
      border-color: var(--control-icon-only-border-active);
      color: var(--control-icon-only-icon-active);
    }
    &.dangerous_f7ecac {
      background-color: var(--control-critical-primary-background-default);
      border-color: var(--control-critical-primary-border-default);
      color: var(--control-critical-primary-text-default);
    }
    &.dangerous_f7ecac:hover {
      background-color: var(--control-critical-primary-background-hover);
      border-color: var(--control-critical-primary-border-hover);
      color: var(--control-critical-primary-text-hover);
    }
    &.dangerous_f7ecac:active {
      background-color: var(--control-critical-primary-background-active);
      border-color: var(--control-critical-primary-border-active);
      color: var(--control-critical-primary-text-active);
    }
  }
}
.actionBarIcon_a7e304 {
  height: 16px;
  width: 16px;
}

/* Stacked Bars*/
.stackedBars__74017 {
  box-sizing: border-box;
}
.clipContainer__841c8 {
  padding: 0;
}
.container__841c8 {
  display: contents;
  > div {
    align-items: center;
    padding: var(--space-8) var(--space-12);
  }
}
.threadSuggestionBar__841c8 {
  justify-content: space-between;
}
.text__841c8 {
  margin: 0;
}
.actions__841c8 {
  gap: var(--space-8);
  margin: 0;
}
.mentionButton__841c8 {
  background-color: var(--control-secondary-background-default);
  border: 1px solid var(--control-secondary-border-default);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  --text-muted: var(--control-secondary-text-default);
  font-weight: 500;
  min-width: var(--space-32);
  min-height: var(--space-32);
  padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px);
  text-transform: lowercase;
  transition: 50ms ease;
  &:hover {
    background-color: var(--control-secondary-background-hover);
    border-color: var(--control-secondary-border-hover);
    --text-muted: var(--control-secondary-text-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-border-active);
    --text-muted: var(--control-secondary-text-active);
  }
}
[aria-checked="true"] .mentionButton__841c8 {
  background-color: var(--control-primary-background-default);
  border-color: var(--control-primary-border-default);
  --text-link: var(--control-primary-text-default);
  &:hover {
    background-color: var(--control-primary-background-hover);
    border-color: var(--control-primary-border-hover);
    --text-link: var(--control-primary-text-hover);
  }
  &:active {
    background-color: var(--control-primary-background-active);
    border-color: var(--control-primary-border-active);
    --text-link: var(--control-primary-text-active);
  }
}
.createThreadButton__841c8 {
  align-items: center;
  background-color: var(--control-primary-background-default);
  border-color: var(--control-primary-border-default);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  --text-link: var(--control-primary-text-default);
  display: flex;
  font-weight: 500;
  flex-shrink: 0;
  margin-inline-end: 0;
  min-width: var(--space-32);
  min-height: var(--space-32);
  padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px);
  transition: 50ms ease;
  &:hover {
    background-color: var(--control-primary-background-hover);
    border-color: var(--control-primary-border-hover);
    --text-link: var(--control-primary-text-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-primary-background-active);
    border-color: var(--control-primary-border-active);
    --text-link: var(--control-primary-text-active);
  }
}
.closeButton_e876a8 {
  align-items: center;
  background-color: transparent;
  border: 1px solid;
  border-radius: var(--radius-sm);
  border-color: transparent;
  box-sizing: border-box;
  color: var(--control-icon-only-icon-default);
  display: flex;
  font-weight: 500;
  justify-content: center;
  min-width: var(--space-32);
  min-height: var(--space-32);
  padding: 0;
  text-transform: lowercase;
  transition: 50ms ease;
  &:hover {
    background-color: var(--control-icon-only-background-hover);
    border-color: var(--control-icon-only-border-hover);
    color: var(--control-icon-only-icon-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-icon-only-background-active);
    border-color: var(--control-icon-only-border-active);
    color: var(--control-icon-only-icon-active);
  }
  path {
    d: path("M19.3 20.7a1 1 0 0 0 1.4-1.4L13.42 12l7.3-7.3a1 1 0 0 0-1.42-1.4L12 10.58l-7.3-7.3a1 1 0 0 0-1.4 1.42L10.58 12l-7.3 7.3a1 1 0 1 0 1.42 1.4L12 13.42l7.3 7.3Z");
  }
}
.separator__841c8 {
  display: none;
}

/* Expression Picker */
:root {
  --custom-emoji-picker-border-radius: var(--radius-md);
}
.drawerSizingWrapper__08434 {
  pointer-events: none;
}
.contentWrapper__08434, .resizeHandle__08434 {
  border-radius: var(--radius-md);
  height: calc(100% - 52px);
  margin-top: 52px;
}
.contentWrapper__08434 {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  pointer-events: all;
}
.resizeHandle__08434 {
  pointer-events: all;
}
#emoji-picker-tab-panel, #sticker-picker-tab-panel, #gif-picker-tab-panel, [aria-labelledby="kaomoji-picker-tab"], .soundboardContainer__08434 {
  flex: 1;
}
[data-popout-animating] > #emoji-picker-tab-panel {
  border: 1px solid var(--border-subtle);
  border-radius: var(--custom-emoji-picker-border-radius);
}
#gif-picker-tab-panel, .picker__09f65.inExpressionPicker__09f65 {
  background-color: transparent;
}
.emojiPicker_c0e32c, .wrapper__8ef02 {
  border-radius: calc(var(--custom-emoji-picker-border-radius) - 1px) !important;
  overflow: hidden;
}
.nav__08434 {
  height: fit-content;
  left: 0;
  padding: var(--space-12) var(--space-12) 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  translate: 0 -100%;
  z-index: 102;
}
.navList__08434 {
  box-sizing: border-box;
  flex-direction: row-reverse;
  gap: var(--space-8);
  height: 40px;
  justify-content: start;
  overflow: hidden;
  pointer-events: all;
  width: fit-content;
}
.navButton__08434 {
  align-items: center;
  background-color: var(--background-surface-high);
  border: 1px solid transparent;
  border-color: var(--control-secondary-background-default);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  box-sizing: border-box;
  color: var(--control-secondary-text-default) !important;
  display: flex;
  font-size: 0;
  justify-content: center;
  line-height: 0;
  margin: var(--space-8) 0 0 !important;
  min-width: 40px;
  opacity: 1;
  padding: 0;
  position: relative;
  transition: .15s ease, background-color 50ms ease;
  &:hover {
    background-color: var(--control-secondary-background-hover);
    border-color: var(--control-secondary-background-hover);
    color: var(--control-secondary-text-hover) !important;
    margin-top: 0 !important;
    transition: .15s ease;
    &:before {
      margin-bottom: 0;
    }
  }
  &:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-background-active);
    color: var(--control-secondary-text-active) !important;
  }
  &.navButtonActive__08434 {
    border-bottom-color: transparent;
    pointer-events: none;
    margin-top: 0 !important;
    transform: unset;
    &:before {
      margin-bottom: 0;
    }
  }
  &:before {
    background-color: currentColor;
    content: "";
    display: flex;
    height: 20px;
    flex-shrink: 0;
    margin-bottom: calc(var(--space-4) * -1);
    transition: inherit;
    width: 20px;
  }
  &:after {
    background-color: var(--background-surface-high);
    border-radius: inherit;
    content: "";
    inset: -1px;
    pointer-events: none;
    position: absolute;
    z-index: -1;
  }
  &#gif-picker-tab:before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm2.18 13.87a2.9 2.9 0 0 1-1.66-.49 3.18 3.18 0 0 1-1.12-1.35A4.88 4.88 0 0 1 4 12c0-.75.14-1.42.42-2 .29-.59.7-1.04 1.24-1.37a3.7 3.7 0 0 1 1.95-.5c.64 0 1.21.14 1.72.4.5.28.89.67 1.15 1.16l-1.22.88a1.76 1.76 0 0 0-1.64-1.02c-.66 0-1.17.22-1.52.65a2.74 2.74 0 0 0-.53 1.8c0 .78.18 1.39.53 1.81.35.42.86.64 1.52.64.3 0 .57-.06.81-.16.25-.12.45-.27.58-.47v-.93H7.3v-1.4h3.24v4.23H9.27l-.2-.71c-.43.57-1.06.86-1.89.86Zm6.34-.15h-1.57V8.28h1.57v7.44Zm1.51 0h1.57v-2.83h2.76v-1.42H16.6V9.7H20V8.28h-4.97v7.44Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm2.18 13.87a2.9 2.9 0 0 1-1.66-.49 3.18 3.18 0 0 1-1.12-1.35A4.88 4.88 0 0 1 4 12c0-.75.14-1.42.42-2 .29-.59.7-1.04 1.24-1.37a3.7 3.7 0 0 1 1.95-.5c.64 0 1.21.14 1.72.4.5.28.89.67 1.15 1.16l-1.22.88a1.76 1.76 0 0 0-1.64-1.02c-.66 0-1.17.22-1.52.65a2.74 2.74 0 0 0-.53 1.8c0 .78.18 1.39.53 1.81.35.42.86.64 1.52.64.3 0 .57-.06.81-.16.25-.12.45-.27.58-.47v-.93H7.3v-1.4h3.24v4.23H9.27l-.2-.71c-.43.57-1.06.86-1.89.86Zm6.34-.15h-1.57V8.28h1.57v7.44Zm1.51 0h1.57v-2.83h2.76v-1.42H16.6V9.7H20V8.28h-4.97v7.44Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
  }
  &#sticker-picker-tab:before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M6 2h12a4 4 0 0 1 4 4v7.5a.5.5 0 0 1-.5.5H19a5 5 0 0 0-5 5v2.5a.5.5 0 0 1-.5.5H6a4 4 0 0 1-4-4V6a4 4 0 0 1 4-4Zm.5 8a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM19 8.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm-9.91 2.94a1 1 0 0 0-1.66 1.12 5.5 5.5 0 0 0 9.14 0 1 1 0 0 0-1.66-1.12 3.5 3.5 0 0 1-5.82 0Z M19 16h1.73a3 3 0 0 1-.6.88l-3.25 3.24a3 3 0 0 1-.88.61V19a3 3 0 0 1 3-3Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M6 2h12a4 4 0 0 1 4 4v7.5a.5.5 0 0 1-.5.5H19a5 5 0 0 0-5 5v2.5a.5.5 0 0 1-.5.5H6a4 4 0 0 1-4-4V6a4 4 0 0 1 4-4Zm.5 8a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM19 8.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm-9.91 2.94a1 1 0 0 0-1.66 1.12 5.5 5.5 0 0 0 9.14 0 1 1 0 0 0-1.66-1.12 3.5 3.5 0 0 1-5.82 0Z M19 16h1.73a3 3 0 0 1-.6.88l-3.25 3.24a3 3 0 0 1-.88.61V19a3 3 0 0 1 3-3Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
  }
  &#emoji-picker-tab:before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22ZM6.5 13a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm11 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm-9.8 1.17a1 1 0 0 1 1.39.27 3.5 3.5 0 0 0 5.82 0 1 1 0 0 1 1.66 1.12 5.5 5.5 0 0 1-9.14 0 1 1 0 0 1 .27-1.4Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22ZM6.5 13a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm11 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm-9.8 1.17a1 1 0 0 1 1.39.27 3.5 3.5 0 0 0 5.82 0 1 1 0 0 1 1.66 1.12 5.5 5.5 0 0 1-9.14 0 1 1 0 0 1 .27-1.4Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
  }
  &#kaomoji-picker-tab:before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M5.8159 20.8438c-.2173 0-.436-.0703-.6196-.2158-2.6665-2.1064-4.1963-5.252-4.1963-8.6279S2.5298 5.479 5.1963 3.3716c.4336-.3423 1.0625-.2681 1.4048.1646.3423.4336.2686 1.0625-.1646 1.4048-2.1841 1.7256-3.4365 4.2983-3.4365 7.0591s1.2524 5.334 3.4365 7.0596c.4331.3418.5068.9707.1646 1.4043-.1973.25-.4897.3799-.7852.3799ZM18.1846 20.8438c-.2959 0-.5879-.1299-.7861-.3799-.3418-.4336-.2686-1.0625.165-1.4053 2.1836-1.7246 3.4365-4.2979 3.4365-7.0586s-1.2529-5.334-3.4365-7.0591c-.4336-.3423-.5068-.9712-.165-1.4048.3447-.4312.9717-.5063 1.4053-.1646 2.667 2.1069 4.1963 5.252 4.1963 8.6284s-1.5293 6.5215-4.1963 8.6289c-.1836.1445-.4023.2148-.6191.2148ZM6.5 13a1.5 1.5 0 100-3 1.5 1.5 0 000 3Zm11 0a1.5 1.5 0 100-3 1.5 1.5 0 000 3Zm-9.8 1.17a1 1 0 011.39.27 3.5 3.5 0 005.82 0 1 1 0 011.66 1.12 5.5 5.5 0 01-9.14 0 1 1 0 01.27-1.4Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M5.8159 20.8438c-.2173 0-.436-.0703-.6196-.2158-2.6665-2.1064-4.1963-5.252-4.1963-8.6279S2.5298 5.479 5.1963 3.3716c.4336-.3423 1.0625-.2681 1.4048.1646.3423.4336.2686 1.0625-.1646 1.4048-2.1841 1.7256-3.4365 4.2983-3.4365 7.0591s1.2524 5.334 3.4365 7.0596c.4331.3418.5068.9707.1646 1.4043-.1973.25-.4897.3799-.7852.3799ZM18.1846 20.8438c-.2959 0-.5879-.1299-.7861-.3799-.3418-.4336-.2686-1.0625.165-1.4053 2.1836-1.7246 3.4365-4.2979 3.4365-7.0586s-1.2529-5.334-3.4365-7.0591c-.4336-.3423-.5068-.9712-.165-1.4048.3447-.4312.9717-.5063 1.4053-.1646 2.667 2.1069 4.1963 5.252 4.1963 8.6284s-1.5293 6.5215-4.1963 8.6289c-.1836.1445-.4023.2148-.6191.2148ZM6.5 13a1.5 1.5 0 100-3 1.5 1.5 0 000 3Zm11 0a1.5 1.5 0 100-3 1.5 1.5 0 000 3Zm-9.8 1.17a1 1 0 011.39.27 3.5 3.5 0 005.82 0 1 1 0 011.66 1.12 5.5 5.5 0 01-9.14 0 1 1 0 01.27-1.4Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
  }
  &#soundboard-picker-tab:before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M14.24 1.03a1 1 0 0 1 .73 1.21l-1 4a1 1 0 1 1-1.94-.48l1-4a1 1 0 0 1 1.21-.73ZM20.7 4.7a1 1 0 0 0-1.4-1.4l-4 4a1 1 0 0 0 1.4 1.4l4-4ZM15.14 20.14c1.78-1.78.7-5.75-2.42-8.86-3.11-3.12-7.08-4.2-8.86-2.42A3.13 3.13 0 0 0 3 11V11l-1.16 8.92a2 2 0 0 0 2.24 2.24L13 21c.86-.04 1.6-.32 2.14-.86Zm-1.3-3.4a9.61 9.61 0 0 0-2.53-4.05 9.61 9.61 0 0 0-4.05-2.53c-1.27-.35-1.82-.05-1.99.11-.16.17-.46.72-.11 2a9.61 9.61 0 0 0 2.53 4.04 9.61 9.61 0 0 0 4.05 2.53c1.27.35 1.82.05 1.99-.11.16-.17.46-.72.11-2ZM7.05 3.32a1 1 0 0 1 1.9-.64l1 3a1 1 0 0 1-1.9.64l-1-3ZM22.97 9.76a1 1 0 0 0-1.21-.73l-4 1a1 1 0 1 0 .48 1.94l4-1a1 1 0 0 0 .73-1.21ZM20.68 16.95a1 1 0 0 0 .64-1.9l-3-1a1 1 0 0 0-.64 1.9l3 1Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M14.24 1.03a1 1 0 0 1 .73 1.21l-1 4a1 1 0 1 1-1.94-.48l1-4a1 1 0 0 1 1.21-.73ZM20.7 4.7a1 1 0 0 0-1.4-1.4l-4 4a1 1 0 0 0 1.4 1.4l4-4ZM15.14 20.14c1.78-1.78.7-5.75-2.42-8.86-3.11-3.12-7.08-4.2-8.86-2.42A3.13 3.13 0 0 0 3 11V11l-1.16 8.92a2 2 0 0 0 2.24 2.24L13 21c.86-.04 1.6-.32 2.14-.86Zm-1.3-3.4a9.61 9.61 0 0 0-2.53-4.05 9.61 9.61 0 0 0-4.05-2.53c-1.27-.35-1.82-.05-1.99.11-.16.17-.46.72-.11 2a9.61 9.61 0 0 0 2.53 4.04 9.61 9.61 0 0 0 4.05 2.53c1.27.35 1.82.05 1.99-.11.16-.17.46-.72.11-2ZM7.05 3.32a1 1 0 0 1 1.9-.64l1 3a1 1 0 0 1-1.9.64l-1-3ZM22.97 9.76a1 1 0 0 0-1.21-.73l-4 1a1 1 0 1 0 .48 1.94l4-1a1 1 0 0 0 .73-1.21ZM20.68 16.95a1 1 0 0 0 .64-1.9l-3-1a1 1 0 0 0-.64 1.9l3 1Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
  }
  &#fm-file-picker-tab:before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M18 22H6a4 4 0 0 1-4-4V6a4 4 0 0 1 4-4h7.5c.28 0 .5.22.5.5V5a5 5 0 0 0 5 5h2.5c.28 0 .5.22.5.5V18a4 4 0 0 1-4 4ZM21.7 7.94c.01.03 0 .06-.04.06H19a3 3 0 0 1-3-3V2.34c0-.03.03-.05.06-.04a3 3 0 0 1 .82.58l4.24 4.24a3 3 0 0 1 .58.82Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M18 22H6a4 4 0 0 1-4-4V6a4 4 0 0 1 4-4h7.5c.28 0 .5.22.5.5V5a5 5 0 0 0 5 5h2.5c.28 0 .5.22.5.5V18a4 4 0 0 1-4 4ZM21.7 7.94c.01.03 0 .06-.04.06H19a3 3 0 0 1-3-3V2.34c0-.03.03-.05.06-.04a3 3 0 0 1 .82.58l4.24 4.24a3 3 0 0 1 .58.82Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
  }
  &#fm-audio-picker-tab:before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M8.65 1.51A2 2 0 0 0 6 3.41v9.88A3.98 3.98 0 0 0 4.5 13C2.57 13 1 14.34 1 16s1.57 3 3.5 3S8 17.66 8 16V5.4l11 3.81v7.08a3.98 3.98 0 0 0-1.5-.29c-1.93 0-3.5 1.34-3.5 3s1.57 3 3.5 3 3.5-1.34 3.5-3V7.03c0-.74-.47-1.4-1.18-1.65L8.65 1.51Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M8.65 1.51A2 2 0 0 0 6 3.41v9.88A3.98 3.98 0 0 0 4.5 13C2.57 13 1 14.34 1 16s1.57 3 3.5 3S8 17.66 8 16V5.4l11 3.81v7.08a3.98 3.98 0 0 0-1.5-.29c-1.93 0-3.5 1.34-3.5 3s1.57 3 3.5 3 3.5-1.34 3.5-3V7.03c0-.74-.47-1.4-1.18-1.65L8.65 1.51Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
  }
  &#fm-video-picker-tab:before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M3 3C2.46957 3 1.96086 3.21071 1.58579 3.58579C1.21071 3.96086 1 4.46957 1 5V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H21C21.5304 21 22.0391 20.7893 22.4142 20.4142C22.7893 20.0391 23 19.5304 23 19V5C23 4.46957 22.7893 3.96086 22.4142 3.58579C22.0391 3.21071 21.5304 3 21 3H3ZM16 7.5C16 7.36739 15.9473 7.24021 15.8536 7.14645C15.7598 7.05268 15.6326 7 15.5 7H8.5C8.36739 7 8.24021 7.05268 8.14645 7.14645C8.05268 7.24021 8 7.36739 8 7.5V16.5C8 16.6326 8.05268 16.7598 8.14645 16.8536C8.24021 16.9473 8.36739 17 8.5 17H15.5C15.6326 17 15.7598 16.9473 15.8536 16.8536C15.9473 16.7598 16 16.6326 16 16.5V7.5ZM20.5 7C20.6326 7 20.7598 7.05268 20.8536 7.14645C20.9473 7.24021 21 7.36739 21 7.5V16.5C21 16.6326 20.9473 16.7598 20.8536 16.8536C20.7598 16.9473 20.6326 17 20.5 17H18.5C18.3674 17 18.2402 16.9473 18.1464 16.8536C18.0527 16.7598 18 16.6326 18 16.5V7.5C18 7.36739 18.0527 7.24021 18.1464 7.14645C18.2402 7.05268 18.3674 7 18.5 7H20.5ZM6 7.5C6 7.36739 5.94732 7.24021 5.85355 7.14645C5.75979 7.05268 5.63261 7 5.5 7H3.5C3.36739 7 3.24021 7.05268 3.14645 7.14645C3.05268 7.24021 3 7.36739 3 7.5V16.5C3 16.6326 3.05268 16.7598 3.14645 16.8536C3.24021 16.9473 3.36739 17 3.5 17H5.5C5.63261 17 5.75979 16.9473 5.85355 16.8536C5.94732 16.7598 6 16.6326 6 16.5V7.5ZM11 4.5C11 4.36739 11.0527 4.24021 11.1464 4.14645C11.2402 4.05268 11.3674 4 11.5 4H12.5C12.6326 4 12.7598 4.05268 12.8536 4.14645C12.9473 4.24021 13 4.36739 13 4.5V5.5C13 5.63261 12.9473 5.75979 12.8536 5.85355C12.7598 5.94732 12.6326 6 12.5 6H11.5C11.3674 6 11.2402 5.94732 11.1464 5.85355C11.0527 5.75979 11 5.63261 11 5.5V4.5ZM11.5 18C11.3674 18 11.2402 18.0527 11.1464 18.1464C11.0527 18.2402 11 18.3674 11 18.5V19.5C11 19.6326 11.0527 19.7598 11.1464 19.8536C11.2402 19.9473 11.3674 20 11.5 20H12.5C12.6326 20 12.7598 19.9473 12.8536 19.8536C12.9473 19.7598 13 19.6326 13 19.5V18.5C13 18.3674 12.9473 18.2402 12.8536 18.1464C12.7598 18.0527 12.6326 18 12.5 18H11.5ZM7 4.5C7 4.36739 7.05268 4.24021 7.14645 4.14645C7.24021 4.05268 7.36739 4 7.5 4H8.5C8.63261 4 8.75979 4.05268 8.85355 4.14645C8.94732 4.24021 9 4.36739 9 4.5V5.5C9 5.63261 8.94732 5.75979 8.85355 5.85355C8.75979 5.94732 8.63261 6 8.5 6H7.5C7.36739 6 7.24021 5.94732 7.14645 5.85355C7.05268 5.75979 7 5.63261 7 5.5V4.5ZM7.5 18C7.36739 18 7.24021 18.0527 7.14645 18.1464C7.05268 18.2402 7 18.3674 7 18.5V19.5C7 19.6326 7.05268 19.7598 7.14645 19.8536C7.24021 19.9473 7.36739 20 7.5 20H8.5C8.63261 20 8.75979 19.9473 8.85355 19.8536C8.94732 19.7598 9 19.6326 9 19.5V18.5C9 18.3674 8.94732 18.2402 8.85355 18.1464C8.75979 18.0527 8.63261 18 8.5 18H7.5ZM19 4.5C19 4.36739 19.0527 4.24021 19.1464 4.14645C19.2402 4.05268 19.3674 4 19.5 4H20.5C20.6326 4 20.7598 4.05268 20.8536 4.14645C20.9473 4.24021 21 4.36739 21 4.5V5.5C21 5.63261 20.9473 5.75979 20.8536 5.85355C20.7598 5.94732 20.6326 6 20.5 6H19.5C19.3674 6 19.2402 5.94732 19.1464 5.85355C19.0527 5.75979 19 5.63261 19 5.5V4.5ZM19.5 18C19.3674 18 19.2402 18.0527 19.1464 18.1464C19.0527 18.2402 19 18.3674 19 18.5V19.5C19 19.6326 19.0527 19.7598 19.1464 19.8536C19.2402 19.9473 19.3674 20 19.5 20H20.5C20.6326 20 20.7598 19.9473 20.8536 19.8536C20.9473 19.7598 21 19.6326 21 19.5V18.5C21 18.3674 20.9473 18.2402 20.8536 18.1464C20.7598 18.0527 20.6326 18 20.5 18H19.5ZM3 4.5C3 4.36739 3.05268 4.24021 3.14645 4.14645C3.24021 4.05268 3.36739 4 3.5 4H4.5C4.63261 4 4.75979 4.05268 4.85355 4.14645C4.94732 4.24021 5 4.36739 5 4.5V5.5C5 5.63261 4.94732 5.75979 4.85355 5.85355C4.75979 5.94732 4.63261 6 4.5 6H3.5C3.36739 6 3.24021 5.94732 3.14645 5.85355C3.05268 5.75979 3 5.63261 3 5.5V4.5ZM3.5 18C3.36739 18 3.24021 18.0527 3.14645 18.1464C3.05268 18.2402 3 18.3674 3 18.5V19.5C3 19.6326 3.05268 19.7598 3.14645 19.8536C3.24021 19.9473 3.36739 20 3.5 20H4.5C4.63261 20 4.75979 19.9473 4.85355 19.8536C4.94732 19.7598 5 19.6326 5 19.5V18.5C5 18.3674 4.94732 18.2402 4.85355 18.1464C4.75979 18.0527 4.63261 18 4.5 18H3.5ZM15 4.5C15 4.36739 15.0527 4.24021 15.1464 4.14645C15.2402 4.05268 15.3674 4 15.5 4H16.5C16.6326 4 16.7598 4.05268 16.8536 4.14645C16.9473 4.24021 17 4.36739 17 4.5V5.5C17 5.63261 16.9473 5.75979 16.8536 5.85355C16.7598 5.94732 16.6326 6 16.5 6H15.5C15.3674 6 15.2402 5.94732 15.1464 5.85355C15.0527 5.75979 15 5.63261 15 5.5V4.5ZM15.5 18C15.3674 18 15.2402 18.0527 15.1464 18.1464C15.0527 18.2402 15 18.3674 15 18.5V19.5C15 19.6326 15.0527 19.7598 15.1464 19.8536C15.2402 19.9473 15.3674 20 15.5 20H16.5C16.6326 20 16.7598 19.9473 16.8536 19.8536C16.9473 19.7598 17 19.6326 17 19.5V18.5C17 18.3674 16.9473 18.2402 16.8536 18.1464C16.7598 18.0527 16.6326 18 16.5 18H15.5Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M3 3C2.46957 3 1.96086 3.21071 1.58579 3.58579C1.21071 3.96086 1 4.46957 1 5V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H21C21.5304 21 22.0391 20.7893 22.4142 20.4142C22.7893 20.0391 23 19.5304 23 19V5C23 4.46957 22.7893 3.96086 22.4142 3.58579C22.0391 3.21071 21.5304 3 21 3H3ZM16 7.5C16 7.36739 15.9473 7.24021 15.8536 7.14645C15.7598 7.05268 15.6326 7 15.5 7H8.5C8.36739 7 8.24021 7.05268 8.14645 7.14645C8.05268 7.24021 8 7.36739 8 7.5V16.5C8 16.6326 8.05268 16.7598 8.14645 16.8536C8.24021 16.9473 8.36739 17 8.5 17H15.5C15.6326 17 15.7598 16.9473 15.8536 16.8536C15.9473 16.7598 16 16.6326 16 16.5V7.5ZM20.5 7C20.6326 7 20.7598 7.05268 20.8536 7.14645C20.9473 7.24021 21 7.36739 21 7.5V16.5C21 16.6326 20.9473 16.7598 20.8536 16.8536C20.7598 16.9473 20.6326 17 20.5 17H18.5C18.3674 17 18.2402 16.9473 18.1464 16.8536C18.0527 16.7598 18 16.6326 18 16.5V7.5C18 7.36739 18.0527 7.24021 18.1464 7.14645C18.2402 7.05268 18.3674 7 18.5 7H20.5ZM6 7.5C6 7.36739 5.94732 7.24021 5.85355 7.14645C5.75979 7.05268 5.63261 7 5.5 7H3.5C3.36739 7 3.24021 7.05268 3.14645 7.14645C3.05268 7.24021 3 7.36739 3 7.5V16.5C3 16.6326 3.05268 16.7598 3.14645 16.8536C3.24021 16.9473 3.36739 17 3.5 17H5.5C5.63261 17 5.75979 16.9473 5.85355 16.8536C5.94732 16.7598 6 16.6326 6 16.5V7.5ZM11 4.5C11 4.36739 11.0527 4.24021 11.1464 4.14645C11.2402 4.05268 11.3674 4 11.5 4H12.5C12.6326 4 12.7598 4.05268 12.8536 4.14645C12.9473 4.24021 13 4.36739 13 4.5V5.5C13 5.63261 12.9473 5.75979 12.8536 5.85355C12.7598 5.94732 12.6326 6 12.5 6H11.5C11.3674 6 11.2402 5.94732 11.1464 5.85355C11.0527 5.75979 11 5.63261 11 5.5V4.5ZM11.5 18C11.3674 18 11.2402 18.0527 11.1464 18.1464C11.0527 18.2402 11 18.3674 11 18.5V19.5C11 19.6326 11.0527 19.7598 11.1464 19.8536C11.2402 19.9473 11.3674 20 11.5 20H12.5C12.6326 20 12.7598 19.9473 12.8536 19.8536C12.9473 19.7598 13 19.6326 13 19.5V18.5C13 18.3674 12.9473 18.2402 12.8536 18.1464C12.7598 18.0527 12.6326 18 12.5 18H11.5ZM7 4.5C7 4.36739 7.05268 4.24021 7.14645 4.14645C7.24021 4.05268 7.36739 4 7.5 4H8.5C8.63261 4 8.75979 4.05268 8.85355 4.14645C8.94732 4.24021 9 4.36739 9 4.5V5.5C9 5.63261 8.94732 5.75979 8.85355 5.85355C8.75979 5.94732 8.63261 6 8.5 6H7.5C7.36739 6 7.24021 5.94732 7.14645 5.85355C7.05268 5.75979 7 5.63261 7 5.5V4.5ZM7.5 18C7.36739 18 7.24021 18.0527 7.14645 18.1464C7.05268 18.2402 7 18.3674 7 18.5V19.5C7 19.6326 7.05268 19.7598 7.14645 19.8536C7.24021 19.9473 7.36739 20 7.5 20H8.5C8.63261 20 8.75979 19.9473 8.85355 19.8536C8.94732 19.7598 9 19.6326 9 19.5V18.5C9 18.3674 8.94732 18.2402 8.85355 18.1464C8.75979 18.0527 8.63261 18 8.5 18H7.5ZM19 4.5C19 4.36739 19.0527 4.24021 19.1464 4.14645C19.2402 4.05268 19.3674 4 19.5 4H20.5C20.6326 4 20.7598 4.05268 20.8536 4.14645C20.9473 4.24021 21 4.36739 21 4.5V5.5C21 5.63261 20.9473 5.75979 20.8536 5.85355C20.7598 5.94732 20.6326 6 20.5 6H19.5C19.3674 6 19.2402 5.94732 19.1464 5.85355C19.0527 5.75979 19 5.63261 19 5.5V4.5ZM19.5 18C19.3674 18 19.2402 18.0527 19.1464 18.1464C19.0527 18.2402 19 18.3674 19 18.5V19.5C19 19.6326 19.0527 19.7598 19.1464 19.8536C19.2402 19.9473 19.3674 20 19.5 20H20.5C20.6326 20 20.7598 19.9473 20.8536 19.8536C20.9473 19.7598 21 19.6326 21 19.5V18.5C21 18.3674 20.9473 18.2402 20.8536 18.1464C20.7598 18.0527 20.6326 18 20.5 18H19.5ZM3 4.5C3 4.36739 3.05268 4.24021 3.14645 4.14645C3.24021 4.05268 3.36739 4 3.5 4H4.5C4.63261 4 4.75979 4.05268 4.85355 4.14645C4.94732 4.24021 5 4.36739 5 4.5V5.5C5 5.63261 4.94732 5.75979 4.85355 5.85355C4.75979 5.94732 4.63261 6 4.5 6H3.5C3.36739 6 3.24021 5.94732 3.14645 5.85355C3.05268 5.75979 3 5.63261 3 5.5V4.5ZM3.5 18C3.36739 18 3.24021 18.0527 3.14645 18.1464C3.05268 18.2402 3 18.3674 3 18.5V19.5C3 19.6326 3.05268 19.7598 3.14645 19.8536C3.24021 19.9473 3.36739 20 3.5 20H4.5C4.63261 20 4.75979 19.9473 4.85355 19.8536C4.94732 19.7598 5 19.6326 5 19.5V18.5C5 18.3674 4.94732 18.2402 4.85355 18.1464C4.75979 18.0527 4.63261 18 4.5 18H3.5ZM15 4.5C15 4.36739 15.0527 4.24021 15.1464 4.14645C15.2402 4.05268 15.3674 4 15.5 4H16.5C16.6326 4 16.7598 4.05268 16.8536 4.14645C16.9473 4.24021 17 4.36739 17 4.5V5.5C17 5.63261 16.9473 5.75979 16.8536 5.85355C16.7598 5.94732 16.6326 6 16.5 6H15.5C15.3674 6 15.2402 5.94732 15.1464 5.85355C15.0527 5.75979 15 5.63261 15 5.5V4.5ZM15.5 18C15.3674 18 15.2402 18.0527 15.1464 18.1464C15.0527 18.2402 15 18.3674 15 18.5V19.5C15 19.6326 15.0527 19.7598 15.1464 19.8536C15.2402 19.9473 15.3674 20 15.5 20H16.5C16.6326 20 16.7598 19.9473 16.8536 19.8536C16.9473 19.7598 17 19.6326 17 19.5V18.5C17 18.3674 16.9473 18.2402 16.8536 18.1464C16.7598 18.0527 16.6326 18 16.5 18H15.5Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
  }
  &#fm-image-picker-tab:before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M2 5a3 3 0 0 1 3-3h14a3 3 0 0 1 3 3v14a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5Zm13.35 8.13 3.5 4.67c.37.5.02 1.2-.6 1.2H5.81a.75.75 0 0 1-.59-1.22l1.86-2.32a1.5 1.5 0 0 1 2.34 0l.5.64 2.23-2.97a2 2 0 0 1 3.2 0ZM10.2 5.98c.23-.91-.88-1.55-1.55-.9a.93.93 0 0 1-1.3 0c-.67-.65-1.78-.01-1.55.9a.93.93 0 0 1-.65 1.12c-.9.26-.9 1.54 0 1.8.48.14.77.63.65 1.12-.23.91.88 1.55 1.55.9a.93.93 0 0 1 1.3 0c.67.65 1.78.01 1.55-.9a.93.93 0 0 1 .65-1.12c.9-.26.9-1.54 0-1.8a.93.93 0 0 1-.65-1.12Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M2 5a3 3 0 0 1 3-3h14a3 3 0 0 1 3 3v14a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5Zm13.35 8.13 3.5 4.67c.37.5.02 1.2-.6 1.2H5.81a.75.75 0 0 1-.59-1.22l1.86-2.32a1.5 1.5 0 0 1 2.34 0l.5.64 2.23-2.97a2 2 0 0 1 3.2 0ZM10.2 5.98c.23-.91-.88-1.55-1.55-.9a.93.93 0 0 1-1.3 0c-.67-.65-1.78-.01-1.55.9a.93.93 0 0 1-.65 1.12c-.9.26-.9 1.54 0 1.8.48.14.77.63.65 1.12-.23.91.88 1.55 1.55.9a.93.93 0 0 1 1.3 0c.67.65 1.78.01 1.55-.9a.93.93 0 0 1 .65-1.12c.9-.26.9-1.54 0-1.8a.93.93 0 0 1-.65-1.12Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
  }
}

.emojiPickerHasTabWrapper_c0e32c .header_c0e32c, .header__8ef02.header__8ef02, .header_fed6d3.header_fed6d3, .header__81b99.header__81b99, .soundboardHeader__08434.soundboardHeader__08434 {
  background-color: transparent;
}
.header_c0e32c.header_c0e32c, .header__8ef02.header__8ef02, .header_fed6d3.header_fed6d3, .header__81b99.header__81b99, .soundboardHeader__08434.soundboardHeader__08434 {
  align-items: center;
  display: flex;
  gap: var(--space-12);
  padding: var(--space-12);
  .flex__7c0ba {
    display: contents;
  }
  button {
    display: none;
  }
}
.backButton_fed6d3 {
  align-items: center;
  background-color: var(--control-secondary-background-default);
  border: 1px solid var(--control-secondary-border-default);;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  color: var(--control-secondary-text-default);
  display: flex;
  justify-content: center;
  margin: 0;
  min-width: var(--space-40);
  min-height: var(--space-40);
  transition: 50ms ease;
  &:hover {
    background-color: var(--control-secondary-background-hover);
    border-color: var(--control-secondary-border-hover);
    color: var(--control-secondary-text-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-border-active);
    color: var(--control-secondary-text-active);
  }
  svg {
    height: 20px;
    width: 20px;
  }
  path {
    d: path("M3.29953 11.3C3.1163 11.4869 3.01367 11.7382 3.01367 12C3.01367 12.2617 3.1163 12.5131 3.29953 12.7L8.29953 17.7C8.4921 17.8444 8.73031 17.9145 8.97042 17.8975C9.21053 17.8804 9.43642 17.7773 9.60664 17.6071C9.77685 17.4369 9.87995 17.211 9.89701 16.9709C9.91408 16.7308 9.84396 16.4926 9.69953 16.3L6.41953 13H19.9995C20.2647 13 20.5191 12.8946 20.7066 12.7071C20.8942 12.5196 20.9995 12.2652 20.9995 12C20.9995 11.7348 20.8942 11.4804 20.7066 11.2929C20.5191 11.1053 20.2647 11 19.9995 11H6.40953L9.70953 7.69999C9.87209 7.50754 9.95603 7.26083 9.94456 7.00917C9.9331 6.75751 9.82707 6.51945 9.64768 6.34258C9.46828 6.16572 9.22874 6.06308 8.97695 6.05518C8.72515 6.04728 8.47965 6.13471 8.28953 6.29999L3.28953 11.3H3.29953Z");
  }
}

.categoryList_c0e32c, .categoryList__3ad28 {
  top: 65px !important;
}
.categoryItemDefaultCategory_b9ee0c, .stickerCategoryGeneric__3ad28, .firstPartyCategory__3ad28 {
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  color: var(--control-icon-only-icon-default);
  display: flex;
  height: var(--space-32);
  justify-content: center;
  padding: 0;
  transition: 50ms ease;
  width: var(--space-32);
  &:hover {
    background-color: var(--control-icon-only-background-hover);
    border-color: var(--control-icon-only-border-hover);
    color: var(--control-icon-only-icon-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-icon-only-background-active);
    border-color: var(--control-icon-only-border-active);
    color: var(--control-icon-only-icon-active);
  }
  &.categoryItemDefaultCategorySelected_b9ee0c, &.stickerCategoryGenericSelected__3ad28, &.firstPartyCategorySelected__3ad28 {
    background-color: var(--control-secondary-background-default);
    border-color: var(--control-secondary-border-default);
    color: var(--control-secondary-text-default);
    &:hover {
      background-color: var(--control-secondary-background-hover);
      border-color: var(--control-secondary-border-hover);
      color: var(--control-secondary-text-hover);
    }
    &:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-border-active);
    color: var(--control-secondary-text-active);
    }
  }
}
.categoryIcon_b9ee0c {
  color: inherit !important;
}

.sectionContainer__61424 {
  background-color: inherit;
}