.wrapperAudio_f72aac.wrapperAudio_f72aac {
  border: 0;
  border-radius: 32px;
  background-color: var(--background-secondary);
  height: 32px !important;
  padding: 12px;
  padding-right: 88px;
  box-sizing: content-box;
  transition: padding .2s;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    margin: 12px;
    width: 32px;
    height: 32px;
    transition: margin .1s .2s, height .1s .2s, width .3s;
    background: var(--brand-500);
    border-radius: 32px;
  }
  &:last-child {
    padding-right: 12px;
  }

  >* {
    z-index: 1;
  }
  .videoButton_f72aac {
    background-color: var(--brand-500);
    border-radius: var(--radius-round);
    position: absolute;
    top: -30px;
    transition: .2s;
  }
  .flex_ec1a20 {
    background-color: var(--brand-500);
    border-radius: var(--radius-round);
    margin-left: 4px;
    margin-top: -34px;
    order: 2;
    transition: .2s;
  }
  .horizontal_d12f5a {
    margin-left: 40px;
    margin-right: 12px;
    .mediaBarWrapper_d12f5a {
      box-shadow: unset;
      margin-top: 3px;
      height: 3px;
    }
    .mediaBarProgress_d12f5a, .mediaBarGrabber_d12f5a {
      background-color: var(--text-normal);
    }
  }
  .mediaBarProgress_d12f5a:before, .mediaBarProgress_d12f5a:after {
    background: inherit;
  }
  .durationTimeWrapper_f72aac {
    margin-left: -4px;
    margin-top: -30px;
    order: 1;
    transition: .2s;
    span {
      font-family: var(--font-primary);
    }
  }
}
.mosaicItem_e5c1dc:has(a:first-child:last-child) {
  .wrapperAudio_f72aac {
    padding-right: 50px;
    + .hoverButtonGroup_d0395d {
      margin-left: -44px;
    }
  }
}
.wrapperAudio_f72aac + .hoverButtonGroup_d0395d {
  background: transparent;
  margin-left: -82px;
  flex-direction: row-reverse;
  gap: 6px;
  position: unset;
  opacity: 1 !important;
  outline: unset;
  > * {
    background: var(--brand-500);
    border-radius: var(--radius-round);
    color: var(--white);
    transition: .2s;
    > svg {
      opacity: .8;
    }
    &:hover > svg {
      opacity: 1;
    }
  }
}
.wrapperAudio_f72aac:has([d="M6 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H6ZM15 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3Z"]) {
  &:before {
    margin: 0;
    width: 100%;
    height: 100%;
    transition: margin .1s, height .1s, width .3s;
  }
  .metadataDownload_f72aac {
    color: var(--white);
  }
  .metadataSize_f72aac {
    color: hsl(var(--white-500-hsl) / .8);
  }
  .videoButton_f72aac, .flex_ec1a20 {
    background-color: var(--white);
  }
  .controlIcon_f72aac {
    color: var(--brand-500);
  }
  .horizontal_d12f5a {
    .mediaBarProgress_d12f5a, .mediaBarGrabber_d12f5a {
      background-color: var(--white);
    }
  }
  + .hoverButtonGroup_d0395d > * {
    background: var(--white);
    color: var(--brand-500);
  }
}

.audioMetadata_f72aac {
  margin-left: 36px;
  margin-top: -4px;
  &:before {
    display: none;
  }
}
.metadataDownload_f72aac, .metadataSize_f72aac, .controlIcon_f72aac {
  transition: .2s;
}

.audioControls_f72aac {
  background: unset;
  margin-top: 0;
  margin-bottom: -4px;
}
.controlIcon_f72aac {
  opacity: .8;
}
.mediaBarProgress_d12f5a, .mediaBarProgress_d12f5a:before, .mediaBarProgress_d12f5a:after {
  transition: background-color .2s;
}
.theme-light .wrapperAudio_f72aac:not(:has([d="M6 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H6ZM15 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3Z"])) .durationTimeWrapper_f72aac {
  color: #000;
}