.cf09d85aafe7e124-wrapperAudio.cf09d85aafe7e124-wrapperAudio {
  border: 0;
  border-radius: 32px;
  background-color: var(--background-surface-high, var(--background-secondary));
  height: 32px !important;
  padding: 12px;
  padding-right: 88px;
  box-sizing: content-box;
  transition: padding .2s;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    margin: 12px;
    width: 32px;
    height: 32px;
    transition: margin .1s .2s, height .1s .2s, width .3s;
    background: var(--brand-500);
    border-radius: 32px;
  }
  &:last-child {
    padding-right: 12px;
  }

  >* {
    z-index: 1;
  }
  .cf09d85aafe7e124-videoButton {
    background-color: var(--brand-500);
    border-radius: var(--radius-round);
    position: absolute;
    top: -30px;
    transition: .2s;
  }
  .abf7060e6f2beabe-flex {
    background-color: var(--brand-500);
    border-radius: var(--radius-round);
    margin-left: 4px;
    margin-top: -34px;
    order: 2;
    transition: .2s;
  }
  .b26b790fd1005393-horizontal {
    margin-left: 40px;
    margin-right: 12px;
    .b26b790fd1005393-mediaBarWrapper {
      box-shadow: unset;
      margin-top: 3px;
      height: 3px;
    }
    .b26b790fd1005393-mediaBarProgress, .b26b790fd1005393-mediaBarGrabber {
      background-color: var(--text-normal);
    }
  }
  .b26b790fd1005393-mediaBarProgress:before, .b26b790fd1005393-mediaBarProgress:after {
    background: inherit;
  }
  .cf09d85aafe7e124-durationTimeWrapper {
    margin-left: -4px;
    margin-top: -30px;
    order: 1;
    transition: .2s;
    span {
      font-family: var(--font-primary);
    }
  }
}
._6c706db0523bd9a7-mosaicItem:has(a:first-child:last-child) {
  .cf09d85aafe7e124-wrapperAudio {
    padding-right: 50px;
    + ._06ab41fd2ef7af3f-hoverButtonGroup {
      margin-left: -44px;
    }
  }
}
.cf09d85aafe7e124-wrapperAudio + ._06ab41fd2ef7af3f-hoverButtonGroup {
  background: transparent;
  margin-left: -82px;
  flex-direction: row-reverse;
  gap: 6px;
  position: unset;
  opacity: 1 !important;
  outline: unset;
  > * {
    background: var(--brand-500);
    border-radius: var(--radius-round);
    color: var(--white);
    transition: .2s;
    > svg {
      opacity: .8;
    }
    &:hover > svg {
      opacity: 1;
    }
  }
}
.cf09d85aafe7e124-wrapperAudio:has([d="M6 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H6ZM15 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3Z"]) {
  &:before {
    margin: 0;
    width: 100%;
    height: 100%;
    transition: margin .1s, height .1s, width .3s;
  }
  .cf09d85aafe7e124-metadataDownload {
    color: var(--white);
  }
  .cf09d85aafe7e124-metadataSize {
    color: hsl(var(--white-500-hsl) / .8);
  }
  .cf09d85aafe7e124-videoButton, .abf7060e6f2beabe-flex {
    background-color: var(--white);
  }
  .cf09d85aafe7e124-controlIcon {
    color: var(--brand-500);
  }
  .b26b790fd1005393-horizontal {
    .b26b790fd1005393-mediaBarProgress, .b26b790fd1005393-mediaBarGrabber {
      background-color: var(--white);
    }
  }
  + ._06ab41fd2ef7af3f-hoverButtonGroup > * {
    background: var(--white);
    color: var(--brand-500);
  }
}

.cf09d85aafe7e124-audioMetadata {
  margin-left: 36px;
  margin-top: -4px;
  &:before {
    display: none;
  }
}
.cf09d85aafe7e124-metadataDownload, .cf09d85aafe7e124-metadataSize, .cf09d85aafe7e124-controlIcon {
  transition: .2s;
}

.cf09d85aafe7e124-audioControls {
  background: transparent !important;
  margin-top: 0;
  margin-bottom: -4px;
}
.cf09d85aafe7e124-controlIcon {
  opacity: .8;
}
.b26b790fd1005393-mediaBarProgress, .b26b790fd1005393-mediaBarProgress:before, .b26b790fd1005393-mediaBarProgress:after {
  transition: background-color .2s;
}
.theme-light .cf09d85aafe7e124-wrapperAudio:not(:has([d="M6 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H6ZM15 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3Z"])) .cf09d85aafe7e124-durationTimeWrapper {
  color: #000;
}