.wrapperAudio_cf09d8.wrapperAudio_cf09d8 {
  border: 0;
  border-radius: 32px;
  background-color: var(--background-surface-high, var(--background-secondary));
  height: 32px !important;
  padding: 12px;
  padding-right: 88px;
  box-sizing: content-box;
  transition: padding .2s;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    margin: 12px;
    width: 32px;
    height: 32px;
    transition: margin .1s .2s, height .1s .2s, width .3s;
    background: var(--brand-500);
    border-radius: 32px;
  }
  &:last-child {
    padding-right: 12px;
  }

  >* {
    z-index: 1;
  }
  .videoButton_cf09d8 {
    background-color: var(--brand-500);
    border-radius: var(--radius-round);
    position: absolute;
    top: -30px;
    transition: .2s;
  }
  .flex_abf706 {
    background-color: var(--brand-500);
    border-radius: var(--radius-round);
    margin-left: 4px;
    margin-top: -34px;
    order: 2;
    transition: .2s;
  }
  .horizontal_b26b79 {
    margin-left: 40px;
    margin-right: 12px;
    .mediaBarWrapper_b26b79 {
      box-shadow: unset;
      margin-top: 3px;
      height: 3px;
    }
    .mediaBarProgress_b26b79, .mediaBarGrabber_b26b79 {
      background-color: var(--text-normal);
    }
  }
  .mediaBarProgress_b26b79:before, .mediaBarProgress_b26b79:after {
    background: inherit;
  }
  .durationTimeWrapper_cf09d8 {
    margin-left: -4px;
    margin-top: -30px;
    order: 1;
    transition: .2s;
    span {
      font-family: var(--font-primary);
    }
  }
}
.mosaicItem__6c706:has(a:first-child:last-child) {
  .wrapperAudio_cf09d8 {
    padding-right: 50px;
    + .hoverButtonGroup__06ab4 {
      margin-left: -44px;
    }
  }
}
.wrapperAudio_cf09d8 + .hoverButtonGroup__06ab4 {
  background: transparent;
  margin-left: -82px;
  flex-direction: row-reverse;
  gap: 6px;
  position: unset;
  opacity: 1 !important;
  outline: unset;
  > * {
    background: var(--brand-500);
    border-radius: var(--radius-round);
    color: var(--white);
    transition: .2s;
    > svg {
      opacity: .8;
    }
    &:hover > svg {
      opacity: 1;
    }
  }
}
.wrapperAudio_cf09d8:has([d="M6 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H6ZM15 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3Z"]) {
  &:before {
    margin: 0;
    width: 100%;
    height: 100%;
    transition: margin .1s, height .1s, width .3s;
  }
  .metadataDownload_cf09d8 {
    color: var(--white);
  }
  .metadataSize_cf09d8 {
    color: hsl(var(--white-500-hsl) / .8);
  }
  .videoButton_cf09d8, .flex_abf706 {
    background-color: var(--white);
  }
  .controlIcon_cf09d8 {
    color: var(--brand-500);
  }
  .horizontal_b26b79 {
    .mediaBarProgress_b26b79, .mediaBarGrabber_b26b79 {
      background-color: var(--white);
    }
  }
  + .hoverButtonGroup__06ab4 > * {
    background: var(--white);
    color: var(--brand-500);
  }
}

.audioMetadata_cf09d8 {
  margin-left: 36px;
  margin-top: -4px;
  &:before {
    display: none;
  }
}
.metadataDownload_cf09d8, .metadataSize_cf09d8, .controlIcon_cf09d8 {
  transition: .2s;
}

.audioControls_cf09d8 {
  background: transparent !important;
  margin-top: 0;
  margin-bottom: -4px;
}
.controlIcon_cf09d8 {
  opacity: .8;
}
.mediaBarProgress_b26b79, .mediaBarProgress_b26b79:before, .mediaBarProgress_b26b79:after {
  transition: background-color .2s;
}
.theme-light .wrapperAudio_cf09d8:not(:has([d="M6 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H6ZM15 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3Z"])) .durationTimeWrapper_cf09d8 {
  color: #000;
}