.scroller_a98f3b {
  display: contents;
}
#search-results {
  flex: 1 1 auto;
  padding: 16px 8px 0 16px;
  overflow: hidden scroll;
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    margin-bottom: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--scrollbar-thin-thumb);
    border: 2px solid transparent;
    border-radius: 4px;
    min-height: 40px;
  }
}
.searchResultGroup_a7e67f:last-child {
  margin-bottom: 0;
}

.container_b82a71 {
  background: var(--background-gradient-highest,var(--background-base-low));
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-sm);
  margin-inline: var(--space-xs);
  margin-bottom: var(--space-xs);
  &:empty {
    display: none;
  }
}
.pageControlContainer_c15210 {
  display: contents;
}
.pageControl_c15210 {
  box-sizing: border-box;
  gap: var(--space-8);
  height: 56px;
  justify-content: center;
  padding: 0 var(--space-sm);
  margin: 0;
  width: 100%;
}
.pageButton_c15210 {
  font-weight: 500;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  padding: 0 var(--space-8) !important;
  margin: 0 !important;
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  background-color: var(--control-secondary-background-default);
  border-color: var(--control-secondary-border-default);
  color: var(--control-secondary-text-default);
  transition: .17s ease;
  &:hover {
    background-color: var(--control-secondary-background-hover);
    border-color: var(--control-secondary-border-hover);
    color: var(--control-secondary-text-hover);
  }
  &:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-border-active);
    color: var(--control-secondary-text-active);
  }
  &.activeButton_c15210 {
    background-color: var(--control-primary-background-default);
    border-color: var(--control-primary-border-default);
    color: var(--control-primary-text-default);
  }
  &.activeButton_c15210:hover {
    background-color: var(--control-primary-background-hover);
    border-color: var(--control-primary-border-hover);
    color: var(--control-primary-text-hover);
  }
  &.activeButton_c15210:active {
    background-color: var(--control-primary-background-active);
    border-color: var(--control-primary-border-active);
    color: var(--control-primary-text-active);
  }
  &:is(h2) {
    background-color: var(--input-background-default);
    border-color: var(--input-border-default);
    color: var(--custom-input-text-color);
    min-width: 64px;
  }
  &:is(h2):hover {
    background-color: var(--input-background-default);
    border-color: var(--input-border-hover);
    color: var(--custom-input-text-color);
  }
  &:is(h2):active {
    background-color: var(--input-background-default);
    border: 2px solid var(--input-border-active);
    color: var(--custom-input-text-color);
  }
}
.endButton_c15210 {
  padding: 0 !important;
  &:first-child {
    margin-right: auto !important;
  }
  &:last-child {
    margin-left: auto !important;
  }
  span {
    display: none;
  }
}
.iconCaret_c15210 {
  margin: 0 !important;
}
.jumpToPageInlineInput_c15210 {
  width: 64px;
  margin: 0 !important;
  .wrapper__72c38 {
    min-height: 32px;
  }
  input {
    padding: 0;
    text-align: center;
  }
}
.container__72c38 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.resultsBlocked_a7e67f {
  background: var(--background-feedback-warning);
  border: 1px solid var(--icon-feedback-warning);
  border-radius: var(--radius-sm);
  color: var(--text-feedback-warning);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
  margin-bottom: var(--space-xs);
  margin-inline: var(--space-xs);
  padding: 8px;
  > div:last-child {
    color: var(--text-default);
  }
}
.resultsBlockedImage_a7e67f.resultsBlockedImage_a7e67f {
  margin-inline-end: 8px;
  background-color: currentColor;
  background-image: unset;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M10 3.1a2.37 2.37 0 0 1 4 0l8.71 14.75c.84 1.41-.26 3.15-2 3.15H3.29c-1.74 0-2.84-1.74-2-3.15L9.99 3.1Zm3.25 14.65a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM13.06 14l.37-5.94a1 1 0 0 0-1-1.06h-.87a1 1 0 0 0-1 1.06l.38 5.94a1.06 1.06 0 0 0 2.12 0Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
  height: 20px;
  width: 20px;
}

.container__3379f {
  background: var(--background-feedback-info);
  border: 1px solid var(--icon-feedback-info);
  border-radius: var(--radius-sm);
  color: var(--text-feedback-info);
  box-sizing: border-box;
  min-height: 56px;
  margin: var(--space-xs);
  padding-block: unset;
  padding-inline: var(--space-md);
}

.paginationLimitHeader_a98f3b, .helpMessageContainer_a98f3b {
  margin-inline: var(--space-xs);
  margin-top: var(--space-xs);
  margin-bottom: 0;
  width: unset;
}