.user-profile-popout {
  border-radius: var(--radius-md);
  .inner_c0bea0 {
    padding: 0;
  }
  &.custom-user-profile-theme {
    padding: 1px;
    .inner_c0bea0 {
      border-radius: calc(var(--radius-md) - 1px);
    }
  }
}
.isPrivate_c0bea0 {
  --custom-user-profile-banner-top: 32px;
}
.inner_c0bea0.inner_c0bea0 {
  border-radius: inherit;
  gap: 0;
  position: relative;
}
.wrapper_da5890.wrapper_da5890 {
  right: var(--space-8);
  top: calc(var(--custom-user-profile-banner-top, 0px) + var(--space-8));
}
.bannerButton_fb7f94 {
  background: var(--control-overlay-secondary-background-default);
  border-color: var(--control-overlay-secondary-border-default);
  border-radius: var(--radius-sm);
  color: var(--control-overlay-secondary-text-default);
  transition: .15s ease !important;
  &:hover {
    background-color: var(--control-overlay-secondary-background-hover);
    border-color: var(--control-overlay-secondary-border-hover);
    color: var(--control-overlay-secondary-text-hover);
  }
  &:active {
    background-color: var(--control-overlay-secondary-background-active);
    border-color: var(--control-overlay-secondary-border-active);
    color: var(--control-overlay-secondary-text-active);
  }
}
.custom-theme-background .bannerButton_fb7f94 {
  background: var(--control-primary-background-default);
  border-color: var(--control-primary-border-default);
  border-radius: var(--radius-sm);
  color: var(--control-primary-text-default);
  transition: .15s ease !important;
  &:hover {
    background-color: var(--control-primary-background-hover);
    border-color: var(--control-primary-border-hover);
    color: var(--control-primary-text-hover);
  }
  &:active {
    background-color: var(--control-primary-background-active);
    border-color: var(--control-primary-border-active);
    color: var(--control-primary-text-active);
  }
}
.body__5be3e {
  gap: var(--space-sm);
  padding: var(--space-md);
}
.footer__5be3e {
  padding: 0 var(--space-md) var(--space-md);
  &:empty {
    display: none;
  }
}

.usernameAndPronounsRow__26b1f.usernameAndPronounsRow__26b1f {
  gap: 4px;
  margin-top: var(--space-4);
}
.container__8061a {
  display: contents;
  div {
    display: flex;
  }
  a, .vc-platform-indicator {
    background-color: var(--user-profile-overlay-background);
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-xs);
    box-sizing: border-box;
  }
  .vc-platform-indicator {
    height: 22px;
    width: 22px;
  }
}
.badgeList_a9178b {
  background: transparent;
  display: flex;
  padding: 0;
}
.body__5be3e .container__8061a {
  > :first-child {
    order: -3;
  }
  > :not(:first-child) {
    display: none;
  }
}
.usernameAndPronounsRow__26b1f div:is(.clickable__26b1f, .info_f4bc97) {
  order: -2;
}
.nameTag__05e81, .userTag__26b1f {
  background-color: var(--user-profile-overlay-background);
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-xs);
  margin: unset;
  padding: 1px 4px;
  &.info_f4bc97:before {
    color: var(--text-muted);
    content: "@";
  }
}

.container__8061a a[aria-label*="#"] {
  align-items: center;
  display: flex !important;
  height: 22px;
  justify-content: center;
  order: -1 !important;
  width: 22px;
  &:before {
    background-color: var(--icon-default);
    content: "";
    height: 14px;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M7.75 2C7.55109 2 7.36032 2.07902 7.21967 2.21967C7.07902 2.36032 7 2.55109 7 2.75V7H2.75C2.55109 7 2.36032 7.07902 2.21967 7.21967C2.07902 7.36032 2 7.55109 2 7.75V9.25C2 9.66 2.34 10 2.75 10H7V14H2.75C2.55109 14 2.36032 14.079 2.21967 14.2197C2.07902 14.3603 2 14.5511 2 14.75V16.25C2 16.66 2.34 17 2.75 17H7V21.25C7 21.66 7.34 22 7.75 22H9.25C9.66 22 10 21.66 10 21.25V17H14V21.25C14 21.66 14.34 22 14.75 22H16.25C16.66 22 17 21.66 17 21.25V17H21.25C21.66 17 22 16.66 22 16.25V14.75C22 14.5511 21.921 14.3603 21.7803 14.2197C21.6397 14.079 21.4489 14 21.25 14H17V10H21.25C21.66 10 22 9.66 22 9.25V7.75C22 7.55109 21.921 7.36032 21.7803 7.21967C21.6397 7.07902 21.4489 7 21.25 7H17V2.75C17 2.55109 16.921 2.36032 16.7803 2.21967C16.6397 2.07902 16.4489 2 16.25 2H14.75C14.5511 2 14.3603 2.07902 14.2197 2.21967C14.079 2.36032 14 2.55109 14 2.75V7H10V2.75C10 2.55109 9.92098 2.36032 9.78033 2.21967C9.63968 2.07902 9.44891 2 9.25 2H7.75ZM14 14V10H10V14H14Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/contain no-repeat;
    width: 14px;
  }
  img {
    display: none;
  }
}
.dotSpacer__26b1f {
  display: none;
}
.container__8061a a[aria-label*="HypeSquad"] {
  display: none;
}
.guildTagContainer__26b1f {
  display: none;
}

.overlay_c0bea0 {
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-sm);
  gap: var(--space-sm);
  padding: var(--space-xs);
  &:has(.banner__24928) {
    display: none;
  }
}
.container__581dd {
  height: 24px;
  gap: 4px;
  > div {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333;
  }
}
.container__82fb2, .container__43a4b {
  padding: 0;
}

.buttonContainer__43a4b button {
  flex: 1;
}

.mutuals__530ce {
  align-items: unset;
  flex-direction: column;
  gap: var(--space-sm);
  .avatars__9ac28 {
    gap: 4px;
  }
  .avatar__9ac28 {
    height: 24px;
    margin: 0;
    -webkit-mask: unset;
    mask: unset;
    width: 24px;
    svg, .icon_f34534 {
      height: 24px;
      width: 24px;
      image-rendering: pixelated;
    }
    .icon_f34534 {
      border-radius: var(--radius-xs);
    }
  }
}
.spacer__530ce {
  display: none;
}
.section__530ce {
  background: var(--user-profile-overlay-background);
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-sm);
  height: 24px;
  justify-content: space-between;
  padding: var(--space-xs);
  &:hover {
    background: var(--user-profile-overlay-background-hover);
  }
  [data-text-variant] {
    color: var(--text-default) !important;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333;
    order: -1;
    text-decoration: none !important;
  }
}
.icon_c2a763 {
  border-radius: var(--radius-xs);
  img {
    border-radius: inherit;
  }
}
.displayCountText_c2a763 {
  border-radius: inherit;
}

.body__5be3e > section:not([class]) {
  background: var(--user-profile-overlay-background);
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  padding: var(--space-xs);
}
.viewFullBio_f5f93a {
  display: flex;
  margin: unset;
  button {
    align-items: center;
    background-color: var(--control-secondary-background-default);
    border: 1px solid var(--control-secondary-border-default);
    color: var(--control-secondary-text-default);
    display: flex;
    flex: 1;
    gap: var(--space-4);
    height: 32px;
    justify-content: center;
    min-height: var(--space-32);
    min-width: var(--space-32);
    padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px) !important;
    margin: 0 !important;
    border-radius: var(--radius-sm);
    transition: .15s ease;
    &:hover {
      background-color: var(--control-secondary-background-hover);
      border-color: var(--control-secondary-border-hover);
      color: var(--control-secondary-text-hover);
    }
    &:active {
      background-color: var(--control-secondary-background-active);
      border-color: var(--control-secondary-border-active);
      color: var(--control-secondary-text-active);
    }
    span {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2857142857142858;
      text-decoration: unset !important;
    }
  }
}

.body__5be3e .section_bf424d, .body__5be3e > .roleListContainer_af3987 {
  background: var(--user-profile-overlay-background);
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-sm);
  margin: 0;
  padding: var(--space-xs);
}
.role_af3987.role_af3987 {
  border-color: var(--border-strong);
}

.row_e4172d {
  order: 1;
}
.buttons_bc38cd {
  order: 2;
}

.profileButtons__9c3be > button, .footer__5be3e > button {
  background-color: var(--control-secondary-background-default);
  border-color: var(--control-secondary-border-default);
  color: var(--control-secondary-text-default);
  flex-grow: 1;
    &:hover {
    background-color: var(--control-secondary-background-hover);
    border-color: var(--control-secondary-border-hover);
    color: var(--control-secondary-text-hover);
  }
  &:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-border-active);
    color: var(--control-secondary-text-active);
  }
}