/*Textarea Patches*/
.f75fb00fb7356cbe-form {
  z-index: 0;
}
.b8880176888cc928-base {
  z-index: -1;
}
.f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-scrollableContainer {
  overflow: visible;
}
.f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-textArea {
  height: unset !important;
  > div {
    max-height: 144px;
    overflow: hidden scroll;
    &::-webkit-scrollbar {
      width: 12px;
      height: 12px
    }
    &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
      background-clip: padding-box;
      border: 4px solid transparent
    }
    &::-webkit-scrollbar-thumb {
      background-color: hsl(var(--primary-800-hsl)/.6);
      border-radius: 8px
    }
  }
}

/*More Button*/
.f75fb00fb7356cbe-channelTextArea:not(._740174f3d6a2c8fe-channelTextAreaDisabled) ._740174f3d6a2c8fe-inner {
  padding-right: 12px;
  pointer-events: none;
  > div {
    pointer-events: all;
  }
  &:before {
    background-color: var(--interactive-text-default);
    content: "";
    position: absolute;
    top: 12px;
    inset-inline: calc(100% - 44px);
    height: var(--space-32);
    width: var(--space-32);
    pointer-events: none;
    transition-duration: .2s;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M4 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm10-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm8 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") no-repeat center/20px;
    z-index: 1;
  }
  &:after {
    content: "";
    display: block;
    cursor: pointer;
    border-radius: 8px;
    height: var(--space-32);
    margin-top: 12px;
    min-height: var(--space-32);
    min-width: var(--space-32);
    pointer-events: all;
    transition-duration: .2s;
  }
}
.f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-inner:hover:not(:has(:hover)) {
  &:before {
    background-color: var(--icon-strong);
  }
  &:after {
    background-color: var(--interactive-background-selected);
  }
}

/*Context Menu*/
.f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-buttons {
  position: absolute;
  background: var(--background-surface-high);
  background-color: var(--background-surface-higher);
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  box-shadow: var(--shadow-high);
  box-sizing: border-box;
  flex-direction: column;
  height: fit-content;
  gap: 0;
  min-width: 200px;
  visibility: hidden;
  padding: 8px;
  transition-delay: 99999s;
  top: unset;
  bottom: calc(100% - 4px);
  right: 12px;
  z-index: 1;
  > div {
    width: 100%;
  }
}
.custom-theme-background .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-buttons {
  border-color: var(--border-strong);
}
._740174f3d6a2c8fe-inner:active:not(:has(:hover)) ._740174f3d6a2c8fe-buttons {
  visibility: visible;
  pointer-events: all;
  transition-delay: 0s;
}
body:active:not(:has(._740174f3d6a2c8fe-inner:hover,._740174f3d6a2c8fe-buttons:hover)) .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-buttons {
  display: none;
  pointer-events: none;
  transition-delay: 0s;
}
/*Context Buttons*/
.e6e74fd4d1221f53-buttonContainer {
  width: 100%;
  background: none !important;
}
.f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-button, .e6e74fd4d1221f53-button {
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--text-strong);
  justify-content: left;
  flex: 1 1 auto;
  padding: 8px;
  transition: none;
  &:hover {
    background: var(--background-mod-subtle);
  }
  &:after {
    content: attr(aria-label);
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: 18px;
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
  }
  ._5eb9b3cc7c2b1ce8-lottieIcon, .c0c49a3e5c8626ac-iconContainer {
    width: 24px !important;
    height: 24px !important;
  }
  ._04eede68d145ae81-spriteContainer {
    --custom-emoji-sprite-size: 24px !important;
  }
  ._04eede68d145ae81-spriteGreyscale {
    background-color: var(--text-strong);
  }
}
.aa63abf63dbd9cce-separator, .aa63abf63dbd9cce-container {
  display: none;
}