.f75fb00fb7356cbe-form {
  display: grid;
  grid-template-areas: "floatingBars floatingBars floatingBars" "stackedBars stackedBars stackedBars" "stickerPreviews stickerPreviews stickerPreviews" "stickerPreviewDivider stickerPreviewDivider stickerPreviewDivider" "channelAttachmentArea channelAttachmentArea channelAttachmentArea" "textArea textArea textArea" "accessoryBarLeft accessoryBarText accessoryBarRight";
  grid-template-columns: [start] min-content [textBar-start] 1fr [textBar-end] min-content [end];
  background: var(--background-gradient-highest,var(--chat-background-default));
  border: 1px solid var(--border-faint);
  border-radius: var(--radius-sm);
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
  margin-bottom: var(--space-xs);
  padding: 0 !important;
  transition: border-color .2s ease;
  &:focus-within {
    border-color: var(--border-subtle);
  }
  > div:not([class]), .f75fb00fb7356cbe-channelBottomBarArea, ._740174f3d6a2c8fe-channelTextArea, ._740174f3d6a2c8fe-scrollableContainer, ._740174f3d6a2c8fe-inner {
    display: contents;
  }
  ._740174f3d6a2c8fe-floatingBars {
    grid-area: floatingBars;
  }
  ._740174f3d6a2c8fe-stackedBars {
    grid-area: stackedBars;
  }
  .a4cf0b7f9c0b1603-stickerPreviews {
    grid-area: stickerPreviews;
  }
  .a4cf0b7f9c0b1603-stickerPreviewDivider {
    grid-area: stickerPreviewDivider;
  }
  .b77158512e0ab116-channelAttachmentArea {
    grid-area: channelAttachmentArea;
  }
  ._740174f3d6a2c8fe-textArea {
    grid-area: textArea;
    height: unset !important;
    > div {
      max-height: 144px;
      overflow: hidden scroll;
      &::-webkit-scrollbar {
        width: 12px;
        height: 12px
      }
      &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
        background-clip: padding-box;
        border: 4px solid transparent
      }
      &::-webkit-scrollbar-track {
        border-width: medium;
        border-width: initial
      }
      &::-webkit-scrollbar-thumb {
        background-color: hsl(var(--primary-800-hsl)/.6);
        border-radius: 8px
      }
    }
  }
  div:is(._0923f156a0410684-attachWrapper, ._740174f3d6a2c8fe-attachButton) + ._740174f3d6a2c8fe-textArea:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 8px;
    right: 8px;
    border-top: 1px solid var(--background-mod-subtle);
    height: 1px;
  }
  .ec4baf0360ff3578-slateTextArea.ec4baf0360ff3578-slateTextArea {
    margin-left: 15px;
  }
  ._0923f156a0410684-attachWrapper, ._740174f3d6a2c8fe-attachButton {
    grid-area: accessoryBarLeft;
  }
  ._0923f156a0410684-attachWrapper {
    display: flex;
    padding: 0;
    padding-left: 12px;
  }
  ._740174f3d6a2c8fe-attachButton {
    background: transparent !important;
    grid-area: accessoryBarLeft;
    margin: 0;
    pointer-events: none;
  }
  ._0923f156a0410684-attachButtonInner {
    pointer-events: all;
  }
  ._4d3a93bb8f6e0dd9-icon {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: var(--accessoryHeight);
    min-height: 100%;
    padding: var(--space-4) var(--space-12) var(--space-4) var(--space-md);
  }
  ._1a58aeaaf7cc4963-wrapper, ._1a58aeaaf7cc4963-wrapper svg, .ca5f52b68137f12b-wrapper, .ca5f52b68137f12b-wrapper svg {
    width: 20px !important;
    height: 20px !important;
  }
  ._740174f3d6a2c8fe-buttons {
    height: var(--accessoryHeight);
    min-height: 100%;
    grid-area: accessoryBarRight;
    padding-right: 12px;
    &:empty, &:has(.aa63abf63dbd9cce-separator:first-child) {
      display: none;
    }
  }
}
._36d072eab2b2e737-scroller:is(.gradientDefault_36d07, ._36d072eab2b2e737-typingGradientNotAtBottom) {
  -webkit-mask: linear-gradient(180deg,#000,transparent) bottom /100% 16px no-repeat,linear-gradient(#000,#000) top /100% calc(100% - 15px) no-repeat;
  mask: linear-gradient(180deg,#000,transparent) bottom /100% 16px no-repeat,linear-gradient(#000,#000) top /100% calc(100% - 15px) no-repeat;
}
._36d072eab2b2e737-chatGradientBase {
  background: linear-gradient(to bottom,transparent,var(--background-base-lower) 8px,var(--background-base-lower) 100%);
  height: 16px;
}
.b8880176888cc928-base.b8880176888cc928-base {
  grid-area: accessoryBarText;
  height: var(--accessoryHeight);
  min-height: 100%;
  padding-left: var(--space-xs);
  position: unset;
}
.b8880176888cc928-text.b8880176888cc928-text {
  margin-left: var(--space-xs);
}
.b216994de061a9e2-cooldownWrapper {
  padding: 0;
  margin: 0 var(--space-xs);
  &:after {
    content: "";
    background-color: var(--border-faint);
    height: var(--chat-markup-line-height);
    margin-left: var(--space-xs);
    width: 1px;
  }
}
.f75fb00fb7356cbe-form:has(._740174f3d6a2c8fe-channelTextAreaDisabled) .b216994de061a9e2-cooldownWrapper:after {
  display: none;
}

._0923f156a0410684-uploadInput {
  display: none;
}
._740174f3d6a2c8fe-expressionPickerPositionLayer {
  top: unset !important;
  right: 74px !important;
  bottom: 74px;
}

._44df51b030bd5ece-wrapper._44df51b030bd5ece-wrapper {
  grid-area: floatingBars;
  margin: 0;
  border: 0;
}

.density-compact {
  --accessoryHeight: 36px;
}
.density-default {
  --accessoryHeight: 44px;
}
.density-cozy {
  --accessoryHeight: 52px;
}