[d="M12,5 L12,1 L7,6 L12,11 L12,7 C15.31,7 18,9.69 18,13 C18,16.31 15.31,19 12,19 C8.69,19 6,16.31 6,13 L4,13 C4,17.42 7.58,21 12,21 C16.42,21 20,17.42 20,13 C20,8.58 16.42,5 12,5 L12,5 Z"] {
  d: path("M20 12a8 8 90 00-14.93-4H9a1 1 90 110 2h-6a1 1 90 01-1-1V3a1 1 90 112 0v3a9.98 9.98 90 0118 6 10 10 90 01-16.29 7.78 1 1 90 011.26-1.56A8 8 90 0020 12Z");
}
.wrapper_cf09d8, .imageWrapper_af017a {
  border-radius: var(--radius-lg);
  .theme-dark {
    display: contents;
  }
}
.media_a22bfd {
  border-radius: 0;
}
.wrapperAudio_cf09d8.wrapperAudio_cf09d8 {
  background-color: var(--background-surface-high);
  border-color: var(--border-subtle);
  border-radius: var(--radius-lg);
  padding: var(--space-sm);
}
.audioMetadata_cf09d8 {
  align-items: center;
  gap: 10px;
  padding-block: var(--space-xs);
  margin-inline: 4px;
  &:before {
    background: var(--neutral-69);
    flex-shrink: 0;
    height: 32px;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M8.65 1.51A2 2 0 0 0 6 3.41v9.88A3.98 3.98 0 0 0 4.5 13C2.57 13 1 14.34 1 16s1.57 3 3.5 3S8 17.66 8 16V5.4l11 3.81v7.08a3.98 3.98 0 0 0-1.5-.29c-1.93 0-3.5 1.34-3.5 3s1.57 3 3.5 3 3.5-1.34 3.5-3V7.03c0-.74-.47-1.4-1.18-1.65L8.65 1.51Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/24px no-repeat;
    width: 32px;
    z-index: 1;
  }
  &:after {
    background-color: var(--white);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    content: "";
    height: 32px;
    position: absolute;
    width: 32px;
  }
}
.metadataContent_cf09d8.metadataContent_cf09d8 {
  padding: 0;
}

.videoControls_cf09d8, .audioControls_cf09d8 {
  background: var(--background-mod-subtle);
  border-radius: var(--radius-md);
  gap: var(--space-xxs);
  padding: 4px;
  width: unset;
}
.videoControls_cf09d8 {
  background-color: var(--control-overlay-secondary-background-default);
  border: 1px solid var(--control-overlay-secondary-border-default);
  border-radius: var(--radius-md);
  gap: var(--space-xxs);
  padding: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  transition: opacity .2s ease;
  &[style="transform: translateY(100%);"] {
    opacity: 0;
  }
}
.videoButton_cf09d8, .volumeButton__2d263 {
  align-items: center;
  display: flex;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  padding: 0 !important;
  margin: 0 !important;
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  background-color: var(--control-overlay-secondary-background-default);
  border-color: var(--control-overlay-secondary-border-default);
  color: var(--control-overlay-secondary-text-default);
  cursor: pointer;
  box-sizing: border-box;
  justify-content: center;
  transition: .15s ease;
  &:hover {
    background-color: var(--control-overlay-secondary-background-hover);
    border-color: var(--control-overlay-secondary-border-hover);
    color: var(--control-overlay-secondary-text-hover);
  }
  &:active {
    background-color: var(--control-overlay-secondary-background-active);
    border-color: var(--control-overlay-secondary-border-active);
    color: var(--control-overlay-secondary-text-active);
  }
}
.controlIcon_cf09d8 {
  box-sizing: content-box;
  color: inherit;
  height: 16px;
  padding: 0;
  width: 16px;
  transform: none !important;
}
.videoControls_cf09d8 > .videoButton_cf09d8:first-child svg {
  padding: 8px;
}
.mediaBarWrapper_b26b79 {
  height: 6px;
  margin-inline: -3px;
  box-shadow: unset !important;
}
.fakeEdges_b26b79 {
  border-radius: 6px;
  &:before, &:after {
    content: unset;
  }
}

.hoverButtonGroup__06ab4 {
  backdrop-filter: blur(2px);
  background-color: var(--control-overlay-secondary-background-default);
  border: 1px solid;
  border-color: var(--control-overlay-secondary-border-default);
  border-radius: var(--radius-md);
  gap: 4px;
  inset-inline-end: 6px;
  outline: unset;
  overflow: visible;
  padding: 3px;
  top: 6px;
  transform: translateY(-16px);
  transition: transform .15s ease, opacity .15s ease;
  &:has(.hoverButton__06ab4:nth-child(1 of :not(span)):nth-last-child(1 of :not(span))) {
    border-width: 0;
    padding: 0;
  }
  &.nonMediaMosaicItem__06ab4 {
    backdrop-filter: unset;
    background-color: var(--background-surface-highest);
    border-color: var(--border-muted);
    inset-inline-end: -10px;
    top: -10px;
    transform: unset;
  }
}
.hoverButtonGroup__06ab4:hover, .keyboard-mode .hoverButtonGroup__06ab4:focus-within, :hover+.hoverButtonGroup__06ab4 {
  transform: unset;
}
.hoverButton__06ab4 {
  align-items: center;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  padding: 0 !important;
  margin: 0 !important;
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  background-color: transparent;
  border-color: transparent;
  color: var(--control-icon-only-icon-default);
  box-sizing: border-box;
  justify-content: center;
  transition: .15s ease;
  &:hover {
    background-color: var(--control-icon-only-background-hover) !important;
    border-color: var(--control-icon-only-border-hover) !important;
    color: var(--control-icon-only-icon-hover) !important;
  }
  &:active {
    background-color: var(--control-icon-only-background-active) !important;
    border-color: var(--control-icon-only-border-active) !important;
    color: var(--control-icon-only-icon-active) !important;
  }
  &.removeMosaicItemHoverButton__6c706 {
    background-color: var(--control-critical-primary-background-default) !important;
    border-color: var(--control-critical-primary-border-default) !important;
    color: var(--control-critical-primary-text-default) !important;
  }
  &.removeMosaicItemHoverButton__6c706:hover {
    background-color: var(--control-critical-primary-background-hover) !important;
    border-color: var(--control-critical-primary-border-hover) !important;
    color: var(--control-critical-primary-text-hover) !important;
  }
  &.removeMosaicItemHoverButton__6c706:active {
    background-color: var(--control-critical-primary-background-active) !important;
    border-color: var(--control-critical-primary-border-active) !important;
    color: var(--control-critical-primary-text-active) !important;
  }
  svg {
    width: 16px;
    height: 16px;
  }
  &:nth-child(1 of :not(span)):nth-last-child(1 of :not(span)) {
    background-color: transparent;
    border-color: transparent;
    border-radius: var(--radius-md);
    min-height: 40px;
    min-width: 40px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
.gifFavoriteButton__43deb {
  align-items: center;
  backdrop-filter: blur(2px);
  background-color: var(--control-overlay-secondary-background-default);
  border: 1px solid var(--control-overlay-secondary-border-default);
  border-radius: var(--radius-md);
  color: var(--control-overlay-secondary-text-default);
  display: flex;
  min-height: 40px;
  min-width: 40px;
  padding: 0 !important;
  justify-content: center;
  transition: .15s ease !important;
  &:hover {
    background-color: var(--control-overlay-secondary-background-hover);
    border-color: var(--control-overlay-secondary-border-hover);
    color: var(--control-overlay-secondary-text-hover);
  }
  &:active {
    background-color: var(--control-overlay-secondary-background-active);
    border-color: var(--control-overlay-secondary-border-active);
    color: var(--control-overlay-secondary-text-active);
  }
  &.selected__43deb {
    background-color: var(--yellow-300);
    border-color: var(--control-primary-border-default);
    color: var(--white);
  }
  &.selected__43deb:hover {
    background-color: var(--yellow-360);
    border-color: var(--control-primary-border-hover);
  }
  &.selected__43deb:active {
    background-color: var(--yellow-400);
    border-color: var(--control-primary-border-active);
  }
}
.icon__43deb {
  height: 20px;
  width: 20px;
}

.spoilerContent__299eb.hidden__299eb {
    --__current--spoiler-warning-background-color: var(--control-overlay-secondary-background-default);
    --__current--spoiler-warning-border-color: var(--control-overlay-secondary-border-default);
  &:hover {
    --__current--spoiler-warning-background-color: var(--control-overlay-secondary-background-hover);
    --__current--spoiler-warning-border-color: var(--control-overlay-secondary-border-hover);
  }
}
.spoilerContainer__299eb.attachmentContainer__299eb {
  border-radius: var(--radius-md);
}
.spoilerWarning__299eb {
  border: 1px solid var(--__current--spoiler-warning-border-color);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  color: hsl(var(--white-hsl) / .6);
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  gap: var(--space-4);
  justify-content: center;
  letter-spacing: unset;
  min-height: 64px;
  min-width: 64px;
  padding-inline: calc(var(--space-12) - 1px);
  text-transform: unset;
  transition: .15s ease;
  &:before {
    content: "";
    background-color: var(--icon-default);
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M1.30039 21.3C1.18577 21.3859 1.09097 21.4955 1.02239 21.6213C0.95381 21.7471 0.913063 21.8862 0.902907 22.0291C0.89275 22.172 0.913421 22.3154 0.96352 22.4497C1.01362 22.5839 1.09198 22.7058 1.19328 22.8071C1.29459 22.9084 1.41649 22.9867 1.55072 23.0368C1.68494 23.0869 1.82837 23.1076 1.97128 23.0975C2.11419 23.0873 2.25325 23.0466 2.37905 22.978C2.50484 22.9094 2.61443 22.8146 2.70039 22.7L22.7004 2.69998C22.8448 2.5074 22.9149 2.2692 22.8979 2.02909C22.8808 1.78898 22.7777 1.56308 22.6075 1.39287C22.4373 1.22266 22.2114 1.11956 21.9713 1.10249C21.7312 1.08543 21.493 1.15555 21.3004 1.29998L1.30039 21.3ZM3.16039 16.05C3.34039 16.29 3.69039 16.31 3.90039 16.1L4.62039 15.38C4.80039 15.2 4.82039 14.93 4.67039 14.72C4.11707 13.9259 3.63836 13.0823 3.24039 12.2C3.21163 12.1372 3.19674 12.069 3.19674 12C3.19674 11.9309 3.21163 11.8627 3.24039 11.8C3.64039 10.9 4.42039 9.42998 5.61039 8.07998C7.13039 6.37998 9.20039 4.99998 12.0004 4.99998C12.8204 4.99998 13.5804 5.11998 14.2804 5.32998C14.4604 5.37998 14.6604 5.32998 14.8004 5.19998L15.6004 4.39998C15.8504 4.14998 15.7804 3.72998 15.4504 3.60998C14.3464 3.20085 13.1777 2.99421 12.0004 2.99998C4.89039 2.99998 1.73039 10.11 1.11039 11.7C1.03557 11.893 1.03557 12.107 1.11039 12.3C1.36039 12.94 2.01039 14.45 3.16039 16.05ZM8.17968 10.81C8.04968 11.24 8.53968 11.46 8.84968 11.15L11.1497 8.85004C11.4597 8.54004 11.2397 8.05004 10.8097 8.18004C10.1911 8.37265 9.62853 8.71264 9.1704 9.17077C8.71228 9.62889 8.37229 10.1914 8.17968 10.81ZM12.8497 15.15C12.5397 15.46 12.7597 15.95 13.1897 15.82C13.8079 15.6267 14.37 15.2864 14.828 14.8284C15.2861 14.3704 15.6263 13.8082 15.8197 13.19C15.9497 12.76 15.4597 12.54 15.1497 12.85L12.8497 15.15ZM9.72027 18.67C9.62996 18.6424 9.53384 18.6399 9.44223 18.6628C9.35062 18.6857 9.26698 18.7331 9.20027 18.8L8.40027 19.6C8.15027 19.85 8.22027 20.27 8.55027 20.39C9.58027 20.77 10.7303 21 12.0003 21C19.1103 21 22.2703 13.89 22.8903 12.3C22.9651 12.107 22.9651 11.893 22.8903 11.7C22.6403 11.06 21.9903 9.54997 20.8403 7.94997C20.798 7.89373 20.744 7.84726 20.6822 7.81372C20.6203 7.78019 20.5519 7.76038 20.4817 7.75563C20.4115 7.75089 20.3411 7.76132 20.2753 7.78623C20.2094 7.81114 20.1498 7.84993 20.1003 7.89997L19.3803 8.61997C19.2948 8.70606 19.2428 8.8198 19.2337 8.94076C19.2245 9.06172 19.2588 9.18199 19.3303 9.27997C19.8836 10.0741 20.3623 10.9177 20.7603 11.8C20.8203 11.93 20.8203 12.07 20.7603 12.2C20.3603 13.1 19.5803 14.57 18.3903 15.92C16.8703 17.62 14.8003 19 12.0003 19C11.1803 19 10.4203 18.88 9.72027 18.67Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
    flex-shrink: 0;
    height: 32px;
    width: 32px;
  }
}